In [498]:
import warnings
warnings.filterwarnings('ignore')
import copy
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold
from sklearn.metrics import mean_absolute_error
# Requests sends and recieves HTTP requests.
import pickle
import requests
from collections import defaultdict
# Beautiful Soup parses HTML documents in python.
from bs4 import BeautifulSoup
import time
import random
import re
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score
import random
from sklearn.ensemble import RandomForestClassifier
import unicodedata
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.utils import shuffle
from sklearn.ensemble import GradientBoostingRegressor

from selenium import webdriver
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [4]:
data = pd.read_csv('data/zip_code_database.csv')

In [84]:
WA_zips = list(data[data['state'] == 'WA']['zip'].values)
WA_zips

[98001,
 98002,
 98003,
 98004,
 98005,
 98006,
 98007,
 98008,
 98009,
 98010,
 98011,
 98012,
 98013,
 98014,
 98015,
 98019,
 98020,
 98021,
 98022,
 98023,
 98024,
 98025,
 98026,
 98027,
 98028,
 98029,
 98030,
 98031,
 98032,
 98033,
 98034,
 98035,
 98036,
 98037,
 98038,
 98039,
 98040,
 98041,
 98042,
 98043,
 98045,
 98046,
 98047,
 98050,
 98051,
 98052,
 98053,
 98054,
 98055,
 98056,
 98057,
 98058,
 98059,
 98061,
 98062,
 98063,
 98064,
 98065,
 98068,
 98070,
 98071,
 98072,
 98073,
 98074,
 98075,
 98077,
 98082,
 98083,
 98087,
 98089,
 98092,
 98093,
 98101,
 98102,
 98103,
 98104,
 98105,
 98106,
 98107,
 98108,
 98109,
 98110,
 98111,
 98112,
 98113,
 98114,
 98115,
 98116,
 98117,
 98118,
 98119,
 98121,
 98122,
 98124,
 98125,
 98126,
 98127,
 98129,
 98131,
 98132,
 98133,
 98134,
 98136,
 98138,
 98139,
 98141,
 98144,
 98145,
 98146,
 98148,
 98151,
 98154,
 98155,
 98158,
 98160,
 98161,
 98164,
 98165,
 98166,
 98168,
 98170,
 98171,
 98174,
 98175,
 98177,
 98178,
 98181,
 98184,
 98185,
 98188,
 98189,
 98190,
 98191,
 98194,
 98195,
 98198,
 98199,
 98201,
 98203,
 98204,
 98205,
 98206,
 98207,
 98208,
 98213,
 98220,
 98221,
 98222,
 98223,
 98224,
 98225,
 98226,
 98227,
 98228,
 98229,
 98230,
 98231,
 98232,
 98233,
 98235,
 98236,
 98237,
 98238,
 98239,
 98240,
 98241,
 98243,
 98244,
 98245,
 98247,
 98248,
 98249,
 98250,
 98251,
 98252,
 98253,
 98255,
 98256,
 98257,
 98258,
 98259,
 98260,
 98261,
 98262,
 98263,
 98264,
 98266,
 98267,
 98270,
 98271,
 98272,
 98273,
 98274,
 98275,
 98276,
 98277,
 98278,
 98279,
 98280,
 98281,
 98282,
 98283,
 98284,
 98286,
 98287,
 98288,
 98290,
 98291,
 98292,
 98293,
 98294,
 98295,
 98296,
 98297,
 98303,
 98304,
 98305,
 98310,
 98311,
 98312,
 98314,
 98315,
 98320,
 98321,
 98322,
 98323,
 98324,
 98325,
 98326,
 98327,
 98328,
 98329,
 98330,
 98331,
 98332,
 98333,
 98335,
 98336,
 98337,
 98338,
 98339,
 98340,
 98342,
 98343,
 98344,
 98345,
 98346,
 98348,
 98349,
 98350,
 98351,
 98352,
 98353,
 98354,
 98355,
 98356,
 98357,
 98358,
 98359,
 98360,
 98361,
 98362,
 98363,
 98364,
 98365,
 98366,
 98367,
 98368,
 98370,
 98371,
 98372,
 98373,
 98374,
 98375,
 98376,
 98377,
 98378,
 98380,
 98381,
 98382,
 98383,
 98384,
 98385,
 98386,
 98387,
 98388,
 98390,
 98391,
 98392,
 98393,
 98394,
 98395,
 98396,
 98397,
 98398,
 98401,
 98402,
 98403,
 98404,
 98405,
 98406,
 98407,
 98408,
 98409,
 98411,
 98412,
 98413,
 98415,
 98416,
 98417,
 98418,
 98419,
 98421,
 98422,
 98424,
 98430,
 98431,
 98433,
 98438,
 98439,
 98442,
 98443,
 98444,
 98445,
 98446,
 98447,
 98448,
 98450,
 98455,
 98460,
 98464,
 98465,
 98466,
 98467,
 98471,
 98477,
 98481,
 98490,
 98492,
 98493,
 98496,
 98497,
 98498,
 98499,
 98501,
 98502,
 98503,
 98504,
 98505,
 98506,
 98507,
 98508,
 98509,
 98511,
 98512,
 98513,
 98516,
 98520,
 98522,
 98524,
 98526,
 98527,
 98528,
 98530,
 98531,
 98532,
 98533,
 98535,
 98536,
 98537,
 98538,
 98539,
 98540,
 98541,
 98542,
 98544,
 98546,
 98547,
 98548,
 98550,
 98552,
 98554,
 98555,
 98556,
 98557,
 98558,
 98559,
 98560,
 98561,
 98562,
 98563,
 98564,
 98565,
 98566,
 98568,
 98569,
 98570,
 98571,
 98572,
 98575,
 98576,
 98577,
 98579,
 98580,
 98581,
 98582,
 98583,
 98584,
 98585,
 98586,
 98587,
 98588,
 98589,
 98590,
 98591,
 98592,
 98593,
 98595,
 98596,
 98597,
 98599,
 98601,
 98602,
 98603,
 98604,
 98605,
 98606,
 98607,
 98609,
 98610,
 98611,
 98612,
 98613,
 98614,
 98616,
 98617,
 98619,
 98620,
 98621,
 98622,
 98623,
 98624,
 98625,
 98626,
 98628,
 98629,
 98631,
 98632,
 98635,
 98637,
 98638,
 98639,
 98640,
 98641,
 98642,
 98643,
 98644,
 98645,
 98647,
 98648,
 98649,
 98650,
 98651,
 98660,
 98661,
 98662,
 98663,
 98664,
 98665,
 98666,
 98667,
 98668,
 98670,
 98671,
 98672,
 98673,
 98674,
 98675,
 98682,
 98683,
 98684,
 98685,
 98686,
 98687,
 98801,
 98802,
 98807,
 98811,
 98812,
 98813,
 98814,
 98815,
 98816,
 98817,
 98819,
 98821,
 98822,
 98823,
 98824,
 98826,
 98827,
 98828,
 98829,
 98830,
 98831,
 98832,
 98833,
 98834,
 98836,
 98837,
 98840,
 98841,
 98843,
 98844,
 98845,
 98846,
 98847,
 98848,
 98849,
 98850,
 98851,
 98852,
 98853,
 98855,
 98856,
 98857,
 98858,
 98859,
 98860,
 98862,
 98901,
 98902,
 98903,
 98904,
 98907,
 98908,
 98909,
 98920,
 98921,
 98922,
 98923,
 98925,
 98926,
 98929,
 98930,
 98932,
 98933,
 98934,
 98935,
 98936,
 98937,
 98938,
 98939,
 98940,
 98941,
 98942,
 98943,
 98944,
 98946,
 98947,
 98948,
 98950,
 98951,
 98952,
 98953,
 99001,
 99003,
 99004,
 99005,
 99006,
 99008,
 99009,
 99011,
 99012,
 99013,
 99014,
 99016,
 99017,
 99018,
 99019,
 99020,
 99021,
 99022,
 99023,
 99025,
 99026,
 99027,
 99029,
 99030,
 99031,
 99032,
 99033,
 99034,
 99036,
 99037,
 99039,
 99040,
 99101,
 99102,
 99103,
 99104,
 99105,
 99107,
 99109,
 99110,
 99111,
 99113,
 99114,
 99115,
 99116,
 99117,
 99118,
 99119,
 99121,
 99122,
 99123,
 99124,
 99125,
 99126,
 99128,
 99129,
 99130,
 99131,
 99133,
 99134,
 99135,
 99136,
 99137,
 99138,
 99139,
 99140,
 99141,
 99143,
 99144,
 99146,
 99147,
 99148,
 99149,
 99150,
 99151,
 99152,
 99153,
 99154,
 99155,
 99156,
 99157,
 99158,
 99159,
 99160,
 99161,
 99163,
 99164,
 99165,
 99166,
 99167,
 99169,
 99170,
 99171,
 99173,
 99174,
 99176,
 99179,
 99180,
 99181,
 99185,
 99201,
 99202,
 99203,
 99204,
 99205,
 99206,
 99207,
 99208,
 99209,
 99210,
 99211,
 99212,
 99213,
 99214,
 99215,
 99216,
 99217,
 99218,
 99219,
 99220,
 99223,
 99224,
 99228,
 99251,
 99252,
 99256,
 99258,
 99260,
 99299,
 99301,
 99302,
 99320,
 99321,
 99322,
 99323,
 99324,
 99326,
 99328,
 99329,
 99330,
 99333,
 99335,
 99336,
 99337,
 99338,
 99341,
 99343,
 99344,
 99345,
 99346,
 99347,
 99348,
 99349,
 99350,
 99352,
 99353,
 99354,
 99356,
 99357,
 99359,
 99360,
 99361,
 99362,
 99363,
 99371,
 99401,
 99402,
 99403]

In [6]:
WA_zips_strings=[]
for zipcode in WA_zips:
    WA_zips_strings.append(str(zipcode))

In [7]:
print(len(WA_zips_strings))
print(len(WA_zips))

733
733

In [232]:
driver = webdriver.Chrome('/Users/ericnaon/Downloads/chromedriver')
#subway_dict = defaultdict(list)
for element in WA_zips[55:]:
    driver.get("https://www.subway.com/en-US/FindAStore?zip=" + str(element))
    iterations = driver.find_elements_by_class_name('locatorResultsPaging')
    try:
        num_iterations = int(iterations[0].text[-1])
    except:
        continue
    for num in range(num_iterations):
        address = driver.find_elements_by_class_name('storeMainAddress')
        address2 = driver.find_elements_by_class_name('locatorAddress2')
        city_and_state = driver.find_elements_by_class_name('locatorAddressCityState')
        for i in range(len(address)):
            adrs = address[i].text.replace('.','')
            city_state_list = city_and_state[i].text.replace(',','').split()
            sub_zip_code = city_state_list[-2][0:6]
            sub_city = city_state_list[0]
            if address2[i].text == '':
                total_address = adrs + ' ' + sub_city + ' ' + sub_zip_code
            else:
                total_address = adrs + ' ' + address2[i].text.replace('-','').replace('#','') + ' ' + sub_city + ' ' + sub_zip_code
            if total_address in subway_dict[sub_zip_code]:
                continue
            else:
                subway_dict[sub_zip_code].append(total_address)
        driver.execute_script("window.scrollTo(0, 500)") 
        time.sleep(4)
        next_page = driver.find_elements_by_class_name('sprite-next-page-arrow')
        if next_page[0].is_displayed():
            next_page[0].click()
        time.sleep(4)
        driver.execute_script("window.scrollTo(0, 50)")
        time.sleep(1)

In [233]:
driver.quit()

In [234]:
count = 0
for element in subway_dict.values():
    count += len(element)
print(count)

873

In [236]:
subway_dict

defaultdict(list,
            {'98001': ['1447 W Valley Hwy N Auburn 98001',
              '762 Supermall Way SW Auburn 98001',
              '1101 Outlet Collection Way Suite 1201 Auburn 98001'],
             '98003': ['29017 Military Road South Federal 98003',
              '1928 S Commons C6 Federal 98003',
              '32225 Pacific Hwy South Suite 201 Federal 98003',
              '34520 16th Avenue So Federal 98003',
              '32925 First Ave South Suite M Federal 98003',
              '34815 Pacific Hwy S Suite 200 Federal 98003'],
             '98002': ['4798 Auburn Way N Suite 102 Auburn 98002',
              '1702 Auburn Way North Suite E Auburn 98002',
              '620 Auburn Way S Suite B Auburn 98002',
              '3840 A St SE Suite 101 Auburn 98002'],
             '98032': ['27020 Pacific Hwy S Suite A103 D Kent 98032',
              '1529 W Meeker St 101 Kent 98032',
              '124 North Central 105 Kent 98032',
              '23235 Pacific Coast Hwy South Kent 98032',
              '19918 68th Ave S Kent 98032'],
             '98030': ['25625 104th Avenue SE Street Kent 98030',
              '12925 SE Kent Kangley Rd Ste 104 Kent 98030'],
             '98023': ['1646 Dash Point Rd Suite C, Bldg E Federal 98023',
              '2148 SW 336th St Federal 98023'],
             '98092': ['12722 SE 312th Auburn 98092'],
             '98031': ['10615 SE 240th St Kent 98031',
              '8433 S 212th St Suite 101 Kent 98031',
              '20932 108th Avenue South Space B2 Building B Kent 98031'],
             '98047': ['420 Ellingson Road Ste 101 Pacific 98047'],
             '98198': ['21425 Pacific Hwy South Des 98198',
              '20619 Military Rd S SeaTac 98198'],
             '98092-': ['3312 Auburn Way South Suite M Auburn 98092-',
              '1402 Lake Tapps Pkwy E Suite 108 Bldg F Auburn 98092-'],
             '98042': ['13308 SE 240th St Suite D5 Kent 98042',
              '27237 172nd Ave SE Suite 111 Covington 98042',
              '17432 SE 270th Place Covington 98042'],
             '98422': ['4125 49th Avenue NE Space E Tacoma 98422'],
             '98354': ['2800 Milton Way 5 Milton 98354'],
             '98148': ['19987 1st Ave 107 Normandy 98148',
              '15500 First Ave South Suite 104 Burien 98148'],
             '98188': ['18613 International Blvd SeaTac 98188',
              '16006 Pacific Hwy S SeaTac 98188',
              '305 Tukwila Parkway Tukwila 98188',
              '7100 Fun Center Way Suite 150 Tukwila 98188'],
             '98057': ['1250 SW 43rd St Suite E Renton 98057',
              '800 S Grady Way Renton 98057',
              '485 Rainier Ave S Renton 98057'],
             '98390': ['13704 24th Street East Suite 104, Building A Sumner 98390',
              '1907 Main St Sumner 98390',
              '6617 166th Ave East Suite 102 Sumner 98390'],
             '98055': ['17625 108th Ave SE Renton 98055',
              '1222 Bronson Way N Renton 98055'],
             '98424': ['2639 70th Ave East Fife 98424',
              '4420 Pacific Hwy East Suite P Fife 98424',
              '4602 20th Street East Fife 98424'],
             '98058': ['17330 140th Ave SE Renton 98058',
              '15279 Maple Valley Hwy Suite 600 Renton 98058'],
             '98168': ['3725 S 144th St Tukwila 98168',
              '12805 1st Ave S Unit A Burien 98168'],
             '98371': ['1002 N Meridian Street Suite 102 Puyallup 98371',
              '1114 River Rd Puyallup 98371'],
             '98372': ['1501 E Main St Suite A Puyallup 98372'],
             '98038': ['27203 216th Avenue SE Suite 4 Maple 98038',
              '26565 Maple Valley Black Diamond Road Maple 98038',
              '22141 SE 237th Suite 201 Maple 98038'],
             '98391': ['19579 State Route 410 East Suite A 19 Bonney 98391',
              '20980 State Rte 410 Bonney 98391'],
             '98421': ['2615 East N Street Tacoma 98421'],
             '98373': ['3500 S Meridian Unit 8008 Puyallup 98373',
              '4621 S Meridian Suite A 823 Puyallup 98373',
              '13414 Meridian Ave E B102 Puyallup 98373',
              '801 S Hill Park Dr Puyallup 98373',
              '11012 Canyon Rd E Suite 9 Puyallup 98373'],
             '98402': ['902 Broadway Tacoma 98402',
              '1910 Pacific Ave Tacoma 98402'],
             '98418': ['S 101 38th St Tacoma 98418'],
             '98406': ['3001 6th Ave Tacoma 98406',
              '5961 6th Avenue Building B Tacoma 98406'],
             '98597': ['17100 SR 507 SE Yelm 98597',
              '1304 Yelm Ave East Suite A101 Yelm 98597'],
             '98405': ['1965 S Union Avenue Tacoma 98405'],
             '98004': ['1120 106th Ave NE Unit R2 Bellevue 98004',
              '2628 Bellevue Way NE Bellevue 98004',
              '11022 NE 8th Street Bellevue 98004',
              '300 110th Ave NE Unit B103 Bellevue 98004',
              '10423 Main St Suite 3 Bellevue 98004'],
             '98005': ['12121 Northup Way Suite 215 Bellevue 98005',
              '1645 140th Ave NE Space B005 Bellevue 98005'],
             '98033': ['10615 NE 68th Street Kirkland 98033',
              '255 Central Way Kirkland 98033',
              '12620 NE 85th Street Suite 106 Kirkland 98033'],
             '98040': ['7679 SE 27th Suite 9 Mercer 98040',
              '8415 SE 68th St Suite 112 Mercer 98040'],
             '98052': ['15001 NE 24th Unit 15 Redmond 98052',
              '14712 NE 91st St Ste 500 Redmond 98052',
              '16001 Redmond Way Redmond 98052',
              '7511 166th Avenue NE Redmond 98052',
              '6536 E Sammamish Pky Suite 101 Redmond 98052',
              '11523 Avondale Rd Ste 104 Redmond 98052'],
             '98007': ['15015 Main St Suite 113 Bellevue 98007',
              '1410 156th Ave NE Bellevue 98007',
              '3080 - 148th Ave SE Suite 111 Bellevue 98007'],
             '98006': ['3720 128th Ave SE Ste J Bellevue 98006'],
             '98105': ['2756 NE 45th St Seattle 98105',
              '5401 25th Ave NE Seattle 98105',
              '4215 University Way NE Seattle 98105',
              '4336 Roosevelt Way NE Seattle 98105'],
             '98112': ['345 15th Avenue East Suite 301 Seattle 98112'],
             '98122': ['806 12th Avenue Seattle 98122'],
             '98144': ['2338 Rainier Ave South Seattle 98144'],
             '98034': ['11613-124th Ave NE Suite G Kirkland 98034',
              '11322 NE 124th St Kirkland 98034',
              '13501 100th Avenue NE Suite 90 Kirkland 98034',
              '12523 NE 144th Street Kirkland 98034',
              '14130 Juanita Drive NE Suite 103 Kirkland 98034'],
             '98115': ['7347 35th Avenue NE Seattle 98115',
              '8014 Lake City Way NE Suite C Seattle 98115'],
             '98104': ['951 James Street Suite E 1st Floor Seattle 98104',
              '1105 Madison Street Suite 105 Seattle 98104',
              '806 3rd Ave Seattle 98104',
              '101 Yesler Way Suite 103 Seattle 98104'],
             '98102': ['2240 Eastlake Ave E Seattle 98102'],
             '98101': ['1220 Howell St 1st Floor Seattle 98101',
              '725 Pike Street Seattle 98101',
              '725 Pike St 4th floor Seattle 98101',
              '501 Seneca Street Seattle 98101',
              '820 Stewart Street Seattle 98101',
              '1414 Third Avenue Seattle 98101',
              '1620 Fourth Ave Suite 3 Seattle 98101'],
             '98059-': ['6975 Coal Creek Parkway Suite B7 Newcastle 98059-'],
             '98121': ['305 Lenora St Seattle 98121',
              '2423 Second Ave Seattle 98121',
              '2822 Western Avenue Seattle 98121'],
             '98056': ['1800 NE 44th St Ste 110 Renton 98056',
              '960 Harrington Ave NE Renton 98056',
              '4020 NE Fourth St Renton 98056'],
             '98134': ['2727 4th Ave S Seattle 98134'],
             '98109': ['100 Fourth Ave North Suite 120 Seattle 98109',
              '305 Harrison St Suite 218 Seattle 98109',
              '97 Denny Way Seattle 98109'],
             '98074': ['703 228th Ave NE Unit 703 Sammamish 98074'],
             '98075': ['3004 Issaquah Pine Lake Rd SE Sammamish 98075'],
             '98053': ['23530 NE Redmond Fall City Rd Suite B Redmond 98053',
              '22310 NE Market Place Dr Suite 114 Redmond 98053'],
             '98027': ['1145 NW Gilman Blvd Suite G7 Issaquah 98027',
              '98 Front Street Issaquah 98027'],
             '98059': ['1702 Duvall Ave NE Renton 98059',
              '12660 164th Ave SE Renton 98059'],
             '98029': ['5728 E Lake Sammamish Pkwy SE Suite 101, Bldg D Issaquah 98029'],
             '98118': ['9305A Rainier Ave S Seattle 98118'],
             '98108': ['8819 14th Ave S Seattle 98108',
              '5603 4th Ave S Seattle 98108'],
             '98050': ['30365 SE High Point Way Preston 98050'],
             '98022': ['235 Roosevelt Ave Ste C Enumclaw 98022'],
             '98321': ['135 Jefferson Avenue Ste J Buckley 98321'],
             '98011': ['18827 Bothell Way NE Suite 107 Bothell 98011',
              '18825 Campus Way NE LB1 Bothell 98011',
              '11511 NE 195th St Suite 103 Bothell 98011'],
             '98028-': ['7016 NE Bothell Way Kenmore 98028-'],
             '98021': ['22910 Bothell-Everett Highway Suite 111A/1F Bothell 98021'],
             '98072': ['14245 NE Woodinville Duvall Rd Woodinville 98072',
              '19150 NE Woodinville Duvall Rd Woodinville 98072'],
             '98155': ['17171 Bothell Way NE Suite A002 Lake 98155',
              '18002 15th Avenue NE Suite A Seattle 98155',
              '20238 Ballinger Way NE Suite B 07 Shoreline 98155'],
             '98012': ['20631 Bothell Everett Hwy Space E Bothell 98012',
              '16310 Bothell-Everett Highway Suite A Mill 98012',
              '3414 132nd St SE Ste 305 Mill 98012'],
             '98043': ['22726 44th Ave W Mountlake 98043',
              '21919 66th Ave W Suite A Mountlake 98043'],
             '98125': ['12500 NE Lake City Way NE Seattle 98125',
              '14359 15th Avenue NE Seattle 98125',
              '12354 15th Ave NE Ste C Seattle 98125',
              '401 NE Northgate Way Room VC03 Seattle 98125',
              '327 Thornton Place NE Suite 6, Building 2 South Seattle 98125'],
             '98036': ['2412 196th Street SW Lynnwood 98036',
              '7600 196th Ave SW Suite 100 Lynnwood 98036'],
             '98290': ['17424 SR 9 SE Unit D Snohomish 98290',
              '723 Ave D Ste A Snohomish 98290'],
             '98087-': ['1233 164th St SW #Q Lynnwood 98087-',
              '2902 164th St SW STE B7 Lynnwood 98087-'],
             '98133': ['18501 Aurora Ave North Shoreline 98133',
              '12248 Aurora Ave N Ste B Seattle 98133'],
             '98026': ['23805 Highway 99 Suite 102 Edmonds 98026'],
             '98037': ['16911 Hwy 99 Unit 103 Lynnwood 98037',
              '5208 168th St SW Lynnwood 98037'],
             '98020': ['10016 Edmonds Way Bldg. B, Space D Edmonds 98020'],
             '98208': ['5714 134th Place SE Suite A2 Everett 98208',
              '10730 19th Ave SE Suite D Everett 98208',
              '305 SE Everett Mall Way Suite 11 Everett 98208',
              '309 East Casino Road Suite A Everett 98208'],
             '98204': ['12717 4th Avenue West Suite B Everett 98204',
              '11400 Evergreen Way Everett 98204',
              '1402 SE Everett Mall Way Space 620 Everett 98204'],
             '98087': ['13619 Mukilteo Speedway Suite D6 Lynnwood 98087'],
             '98275': ['11700 Mukilteo Speedway #205 Muklilteo 98275',
              '9999 Harbour Place Suite 102 Mukilteo 98275'],
             '98203': ['7415 Hardeson Rd E Everett 98203',
              '5129 Evergreen Way Ste 2 Everett 98203'],
             '98201': ['3710 Broadway Suite 105 Everett 98201',
              '1620 Hewitt Ave Everett 98201',
              '2715 Hewitt Ave Everett 98201',
              '2000 W Marine View Dr 1950 Everett 98201',
              '851 N Broadway Suite 101 & 102 Everett 98201'],
             '98272': ['14090 Fryelands Blvd SE Suite 101 Monroe 98272',
              '19636 State Route 2 Monroe 98272',
              '14751 North Kelsey Street Suite 111 Monroe 98272',
              '19191 N Kelsey St Monroe 98272'],
             '98070': ['17408 Vashon Hwy SW Vashon 98070'],
             '98332': ['11430 51st Ave STE 100 Gig 98332'],
             '98335': ['6820 Kimball Drive Suite A4 Gig 98335',
              '4804 Point Fosdick Dr NW Gig 98335'],
             '98166': ['594 SW 152nd Street Burien 98166'],
             '98407': ['2723 N Pearl Street A4 Tacoma 98407'],
             '98146': ['10406 16th Ave SW Seattle 98146'],
             '98465': ['1816 S Mildred St 6E Tacoma 98465'],
             '98409': ['4916 Center St Ste B Tacoma 98409',
              '2626 South Tacoma Way Tacoma 98409',
              '3873 South 66th Street Tacoma 98409'],
             '98366': ['1600 Woods Rd SE Port 98366',
              '3497 Bethel Rd SE Port 98366',
              '3311 Bethel Rd SE Suite 9 A Port 98366',
              '3001 SE Mile Hill Dr, Ste 140 Port 98366'],
             '98136': ['6515 California Ave SW Seattle 98136'],
             '98019': ['14606 Main St NE Suite 101/Building 4 Duvall 98019'],
             '98065': ['7329 Better Way SE Suite 125 Snoqualmie 98065'],
             '98045': ['521 South Fork Ave SW Ste K1 North 98045',
              '470 E North Bend Way North 98045'],
             '98294': ['US Hwy 2 & 339th Ave SE Sultan 98294'],
             '98346': ['10978 Hwy 104 Kingston 98346'],
             '98117': ['8757 Holman Rd NW Suite D Seattle 98117'],
             '98107': ['5300 15th Ave NW Seattle 98107',
              '4530 9th Ave NW Seattle 98107'],
             '98103': ['4301 Stone Way North Suite A Seattle 98103'],
             '98922': ['207 West 1st Street Cle Elum Subway Cle 98922'],
             '98360': ['215 Whitesell St Orting 98360'],
             '98375': ['16116 Meridian E Ste 1 Puyallup 98375',
              '16502 Meridian Ave E PUYALLUP 98375',
              '5604 176th St East Ste F 101 Puyallup 98375'],
             '98338': ['22205 Meridian Ave East Graham 98338'],
             '98404': ['402 East 56th St Tacoma 98404',
              '1407 E 72nd St Ste E Tacoma 98404'],
             '98408': ['6402 S Yakima Ave Suite C1 Tacoma 98408',
              '1901 S 72nd Street Suite A37 Tacoma 98408'],
             '98119': ['3310 3rd Ave W Seattle 98119',
              '1837 15th Ave West Suite A12 Seattle 98119'],
             '98106': ['6760 W Marginal Way SW Seattle 98106',
              '3829 Delridge Way SW Building C Ste C 205 Seattle 98106'],
             '98110': ['321 High School Road NE Suite D5 Bainbridge 98110'],
             '98199': ['3320 W McGraw Seattle 98199'],
             '98345': ['610 Dowell Street Building 489 Keyport 98345'],
             '98311': ['1554 NE Fairgrounds Road Suite 1A Bremerton 98311',
              '6797 State Hwy 303 NE Bremerton 98311'],
             '98310': ['5050 State Hwy 303 NE Bremerton 98310',
              '1100 Wheaton Way Suite E Bremerton 98310'],
             '98370': ['18960 State Hwy 305 NE Poulsbo 98370',
              '19890 Viking Ave Poulsbo 98370',
              '21555 Olhava Way NW Suite 101 Poulsbo 98370',
              '21200 Olhava Way NW Poulsbo 98370'],
             '98383': ['2238 NW Bucklin Hill Rd Ste 102 Silverdale 98383',
              '10315 Silverdale Way NW C05 Silverdale 98383'],
             '98337': ['70 Washington Ave Bremerton 98337'],
             '98315': ['2601 Ohio St MUST HAVE BASE ACCESS Silverdale 98315'],
             '98314': ['Bldg 863 MUST HAVE BASE ACCESS Bremerton 98314'],
             '98826': ['920 Highway 2 Leavenworth 98826'],
             '98815': ['130 Titchenal Way Cashmere 98815'],
             '98926': ['1512 Hwy 97 Ellensburg 98926',
              '1005 E University Way Ellensburg 98926',
              '1301 Canyon Rd Ellensburg 98926'],
             '98801': ['2000 N Wenatchee Ave Wenatchee 98801',
              '147 Easy Way Wenatchee 98801'],
             '98802': ['929 Mission St Wenatchee 98802',
              '226 Grant Rd Wenatchee 98802'],
             '98367': ['435 SW Sedgwick Road Suite 105 Ground Floor Port 98367'],
             '98258': ['1819 S Lake Stevens Road Lake 98258',
              '303 91st Ave NE 105 Lake 98258',
              '1807 Main St Lake 98258'],
             '98312': ['Boone Rd Bldg HPO-1 MUST HAVE BASE ACCESS Bremerton 98312',
              '3850 Kitsap Way Bremerton 98312',
              '4710 Werner Road Bremerton 98312'],
             '98270': ['450 State Ave Suite 101 Marysville 98270',
              '8713 64th Street NE Marysville 98270',
              '9214 State Ave Marysville 98270',
              '3943 116th Street NE 106 Marysville 98270'],
             '98271': ['10600 Quilceda Blvd Suite 381 Tulalip 98271'],
             '98223': ['16820 Smokey Point Blvd 101 Arlington 98223',
              '4010 172nd Street Arlington 98223',
              '7705 204th St NE Suite 104 Arlington 98223',
              '2211 WA-530 Arlington 98223'],
             '98252': ['703 W Stanley Street Granite 98252'],
             '98247': ['3740 Mt Baker Hwy Everson 98247',
              '102 W Main Street Suite 101 Everson 98247'],
             '98284': ['108 N Township Suite A Sedro 98284'],
             '98229': ['1306 Lakeway Dr Bellingham 98229'],
             '98225': ['101 South Samish Way Bellingham 98225',
              '3123 Old Fairhaven Pkwy Bellingham 98225',
              '1920 King St Bellingham 98225',
              '128 E Holly Bellingham 98225',
              '516 High St - Viking Union Bellingham 98225',
              '516 High Street Atrium at Artzen Bellingham 98225',
              '3212 NW Ave Unit A4 Bellingham 98225'],
             '98226': ['3011 Cinema Place Suite 103 Bellingham 98226',
              '4152 Meridian Suite 102 Bellingham 98226',
              '1 Bellis Fair Pky Ste 521 Bellingham 98226',
              '1317 W Bakerview Rd Ste 101 Bellingham 98226',
              '5927 Guide Meridian Bellingham 98226'],
             '98233': ['9660 Old Highway 99 N Rd Ste B Burlington 98233',
              '325 Cascade Mall Dr Space E05 Burlington 98233',
              '1765 S Burlington Blvd Burlington 98233'],
             '98273': ['2301 Freeway Drive Mount 98273',
              '323 E College Way Suite C Mount 98273'],
             '98274': ['2323 E Section St Mount 98274'],
             '98248': ['1678 Main Street Unit 2 Ferndale 98248',
              '5675-3rd Ave Ferndale 98248'],
             '98264': ['8176 Guide Meridian Lynden 98264',
              '8890 Bender Road Lynden 98264'],
             '98221': ['1518 Commercial Ave Anacortes 98221'],
             '8M9': ['1379 Sumas Way Suite  100 Abbotsford 8M9'],
             '8K1': ['1956 Vedder Way Abbotsford 8K1'],
             '2K8': ['2054 Whatcom Road Abbotsford 2K8'],
             '8H6': ['2047 Sumas Way Unit 18 Abbotsford 8H6'],
             '3N3': ['1975 McCallum Road Unit 101 Abbotsford 3N3'],
             '1C4': ['2618 McMillian Rd Suite 108 Abbotsford 1C4'],
             '2B9': ['33640 S Fraser Way Suite 101 Abbotsford 2B9'],
             '5A1': ['32900 South Fraser Way Unit 404 Abbotsford 5A1'],
             '4K9': ['2965 Immel Street Abbotsford 4K9'],
             '1V5': ['31943 S Fraser Way Suite 104 Abbotsford 1V5'],
             '6K9': ['31221 Peardonville Rd Abbotsford 6K9'],
             '4E6': ['32660 George Ferguson Way Suite  101 Abbotsford 4E6',
              '20300 Fraser Highway Unit 201 Langley 4E6'],
             '98230': ['8115 Birch Bay Square Street Unit 209 Blaine 98230',
              '1733 H Street Unit 825 Blaine 98230'],
             '0C5': ['3122 Mt Lehman Road D125 Abbotsford 0C5'],

In [237]:
subway_dict_copy = subway_dict.copy()

In [238]:
subway_dict_copy = dict(subway_dict_copy)

In [258]:
subway_locations_dict = subway_dict_copy.copy()
for key, value in subway_dict_copy.items():
    if len(key) > 5:
        subway_locations_dict.pop(key, None)
        subway_locations_dict[key[0:5]] = value

In [259]:
subway_locations_dict

{'98003': ['29017 Military Road South Federal 98003',
  '1928 S Commons C6 Federal 98003',
  '32225 Pacific Hwy South Suite 201 Federal 98003',
  '34520 16th Avenue So Federal 98003',
  '32925 First Ave South Suite M Federal 98003',
  '34815 Pacific Hwy S Suite 200 Federal 98003'],
 '98002': ['4798 Auburn Way N Suite 102 Auburn 98002',
  '1702 Auburn Way North Suite E Auburn 98002',
  '620 Auburn Way S Suite B Auburn 98002',
  '3840 A St SE Suite 101 Auburn 98002'],
 '98032': ['27020 Pacific Hwy S Suite A103 D Kent 98032',
  '1529 W Meeker St 101 Kent 98032',
  '124 North Central 105 Kent 98032',
  '23235 Pacific Coast Hwy South Kent 98032',
  '19918 68th Ave S Kent 98032'],
 '98030': ['25625 104th Avenue SE Street Kent 98030',
  '12925 SE Kent Kangley Rd Ste 104 Kent 98030'],
 '98023': ['1646 Dash Point Rd Suite C, Bldg E Federal 98023',
  '2148 SW 336th St Federal 98023'],
 '98092': ['3312 Auburn Way South Suite M Auburn 98092-',
  '1402 Lake Tapps Pkwy E Suite 108 Bldg F Auburn 98092-'],
 '98031': ['10615 SE 240th St Kent 98031',
  '8433 S 212th St Suite 101 Kent 98031',
  '20932 108th Avenue South Space B2 Building B Kent 98031'],
 '98047': ['420 Ellingson Road Ste 101 Pacific 98047'],
 '98198': ['21425 Pacific Hwy South Des 98198',
  '20619 Military Rd S SeaTac 98198'],
 '98042': ['13308 SE 240th St Suite D5 Kent 98042',
  '27237 172nd Ave SE Suite 111 Covington 98042',
  '17432 SE 270th Place Covington 98042'],
 '98422': ['4125 49th Avenue NE Space E Tacoma 98422'],
 '98354': ['2800 Milton Way 5 Milton 98354'],
 '98148': ['19987 1st Ave 107 Normandy 98148',
  '15500 First Ave South Suite 104 Burien 98148'],
 '98188': ['18613 International Blvd SeaTac 98188',
  '16006 Pacific Hwy S SeaTac 98188',
  '305 Tukwila Parkway Tukwila 98188',
  '7100 Fun Center Way Suite 150 Tukwila 98188'],
 '98057': ['1250 SW 43rd St Suite E Renton 98057',
  '800 S Grady Way Renton 98057',
  '485 Rainier Ave S Renton 98057'],
 '98390': ['13704 24th Street East Suite 104, Building A Sumner 98390',
  '1907 Main St Sumner 98390',
  '6617 166th Ave East Suite 102 Sumner 98390'],
 '98055': ['17625 108th Ave SE Renton 98055',
  '1222 Bronson Way N Renton 98055'],
 '98424': ['2639 70th Ave East Fife 98424',
  '4420 Pacific Hwy East Suite P Fife 98424',
  '4602 20th Street East Fife 98424'],
 '98058': ['17330 140th Ave SE Renton 98058',
  '15279 Maple Valley Hwy Suite 600 Renton 98058'],
 '98168': ['3725 S 144th St Tukwila 98168',
  '12805 1st Ave S Unit A Burien 98168'],
 '98371': ['1002 N Meridian Street Suite 102 Puyallup 98371',
  '1114 River Rd Puyallup 98371'],
 '98372': ['1501 E Main St Suite A Puyallup 98372'],
 '98038': ['27203 216th Avenue SE Suite 4 Maple 98038',
  '26565 Maple Valley Black Diamond Road Maple 98038',
  '22141 SE 237th Suite 201 Maple 98038'],
 '98391': ['19579 State Route 410 East Suite A 19 Bonney 98391',
  '20980 State Rte 410 Bonney 98391'],
 '98421': ['2615 East N Street Tacoma 98421'],
 '98373': ['3500 S Meridian Unit 8008 Puyallup 98373',
  '4621 S Meridian Suite A 823 Puyallup 98373',
  '13414 Meridian Ave E B102 Puyallup 98373',
  '801 S Hill Park Dr Puyallup 98373',
  '11012 Canyon Rd E Suite 9 Puyallup 98373'],
 '98402': ['902 Broadway Tacoma 98402', '1910 Pacific Ave Tacoma 98402'],
 '98418': ['S 101 38th St Tacoma 98418'],
 '98406': ['3001 6th Ave Tacoma 98406',
  '5961 6th Avenue Building B Tacoma 98406'],
 '98597': ['17100 SR 507 SE Yelm 98597',
  '1304 Yelm Ave East Suite A101 Yelm 98597'],
 '98405': ['1965 S Union Avenue Tacoma 98405'],
 '98004': ['1120 106th Ave NE Unit R2 Bellevue 98004',
  '2628 Bellevue Way NE Bellevue 98004',
  '11022 NE 8th Street Bellevue 98004',
  '300 110th Ave NE Unit B103 Bellevue 98004',
  '10423 Main St Suite 3 Bellevue 98004'],
 '98005': ['12121 Northup Way Suite 215 Bellevue 98005',
  '1645 140th Ave NE Space B005 Bellevue 98005'],
 '98033': ['10615 NE 68th Street Kirkland 98033',
  '255 Central Way Kirkland 98033',
  '12620 NE 85th Street Suite 106 Kirkland 98033'],
 '98040': ['7679 SE 27th Suite 9 Mercer 98040',
  '8415 SE 68th St Suite 112 Mercer 98040'],
 '98052': ['15001 NE 24th Unit 15 Redmond 98052',
  '14712 NE 91st St Ste 500 Redmond 98052',
  '16001 Redmond Way Redmond 98052',
  '7511 166th Avenue NE Redmond 98052',
  '6536 E Sammamish Pky Suite 101 Redmond 98052',
  '11523 Avondale Rd Ste 104 Redmond 98052'],
 '98007': ['15015 Main St Suite 113 Bellevue 98007',
  '1410 156th Ave NE Bellevue 98007',
  '3080 - 148th Ave SE Suite 111 Bellevue 98007'],
 '98006': ['3720 128th Ave SE Ste J Bellevue 98006'],
 '98105': ['2756 NE 45th St Seattle 98105',
  '5401 25th Ave NE Seattle 98105',
  '4215 University Way NE Seattle 98105',
  '4336 Roosevelt Way NE Seattle 98105'],
 '98112': ['345 15th Avenue East Suite 301 Seattle 98112'],
 '98122': ['806 12th Avenue Seattle 98122'],
 '98144': ['2338 Rainier Ave South Seattle 98144'],
 '98034': ['11613-124th Ave NE Suite G Kirkland 98034',
  '11322 NE 124th St Kirkland 98034',
  '13501 100th Avenue NE Suite 90 Kirkland 98034',
  '12523 NE 144th Street Kirkland 98034',
  '14130 Juanita Drive NE Suite 103 Kirkland 98034'],
 '98115': ['7347 35th Avenue NE Seattle 98115',
  '8014 Lake City Way NE Suite C Seattle 98115'],
 '98104': ['951 James Street Suite E 1st Floor Seattle 98104',
  '1105 Madison Street Suite 105 Seattle 98104',
  '806 3rd Ave Seattle 98104',
  '101 Yesler Way Suite 103 Seattle 98104'],
 '98102': ['2240 Eastlake Ave E Seattle 98102'],
 '98101': ['1220 Howell St 1st Floor Seattle 98101',
  '725 Pike Street Seattle 98101',
  '725 Pike St 4th floor Seattle 98101',
  '501 Seneca Street Seattle 98101',
  '820 Stewart Street Seattle 98101',
  '1414 Third Avenue Seattle 98101',
  '1620 Fourth Ave Suite 3 Seattle 98101'],
 '98121': ['305 Lenora St Seattle 98121',
  '2423 Second Ave Seattle 98121',
  '2822 Western Avenue Seattle 98121'],
 '98056': ['1800 NE 44th St Ste 110 Renton 98056',
  '960 Harrington Ave NE Renton 98056',
  '4020 NE Fourth St Renton 98056'],
 '98134': ['2727 4th Ave S Seattle 98134'],
 '98109': ['100 Fourth Ave North Suite 120 Seattle 98109',
  '305 Harrison St Suite 218 Seattle 98109',
  '97 Denny Way Seattle 98109'],
 '98074': ['703 228th Ave NE Unit 703 Sammamish 98074'],
 '98075': ['3004 Issaquah Pine Lake Rd SE Sammamish 98075'],
 '98053': ['23530 NE Redmond Fall City Rd Suite B Redmond 98053',
  '22310 NE Market Place Dr Suite 114 Redmond 98053'],
 '98027': ['1145 NW Gilman Blvd Suite G7 Issaquah 98027',
  '98 Front Street Issaquah 98027'],
 '98059': ['6975 Coal Creek Parkway Suite B7 Newcastle 98059-'],
 '98029': ['5728 E Lake Sammamish Pkwy SE Suite 101, Bldg D Issaquah 98029'],
 '98118': ['9305A Rainier Ave S Seattle 98118'],
 '98108': ['8819 14th Ave S Seattle 98108', '5603 4th Ave S Seattle 98108'],
 '98050': ['30365 SE High Point Way Preston 98050'],
 '98022': ['235 Roosevelt Ave Ste C Enumclaw 98022'],
 '98321': ['135 Jefferson Avenue Ste J Buckley 98321'],
 '98011': ['18827 Bothell Way NE Suite 107 Bothell 98011',
  '18825 Campus Way NE LB1 Bothell 98011',
  '11511 NE 195th St Suite 103 Bothell 98011'],
 '98021': ['22910 Bothell-Everett Highway Suite 111A/1F Bothell 98021'],
 '98072': ['14245 NE Woodinville Duvall Rd Woodinville 98072',
  '19150 NE Woodinville Duvall Rd Woodinville 98072'],
 '98155': ['17171 Bothell Way NE Suite A002 Lake 98155',
  '18002 15th Avenue NE Suite A Seattle 98155',
  '20238 Ballinger Way NE Suite B 07 Shoreline 98155'],
 '98012': ['20631 Bothell Everett Hwy Space E Bothell 98012',
  '16310 Bothell-Everett Highway Suite A Mill 98012',
  '3414 132nd St SE Ste 305 Mill 98012'],
 '98043': ['22726 44th Ave W Mountlake 98043',
  '21919 66th Ave W Suite A Mountlake 98043'],
 '98125': ['12500 NE Lake City Way NE Seattle 98125',
  '14359 15th Avenue NE Seattle 98125',
  '12354 15th Ave NE Ste C Seattle 98125',
  '401 NE Northgate Way Room VC03 Seattle 98125',
  '327 Thornton Place NE Suite 6, Building 2 South Seattle 98125'],
 '98036': ['2412 196th Street SW Lynnwood 98036',
  '7600 196th Ave SW Suite 100 Lynnwood 98036'],
 '98290': ['17424 SR 9 SE Unit D Snohomish 98290',
  '723 Ave D Ste A Snohomish 98290'],
 '98133': ['18501 Aurora Ave North Shoreline 98133',
  '12248 Aurora Ave N Ste B Seattle 98133'],
 '98026': ['23805 Highway 99 Suite 102 Edmonds 98026'],
 '98037': ['16911 Hwy 99 Unit 103 Lynnwood 98037',
  '5208 168th St SW Lynnwood 98037'],
 '98020': ['10016 Edmonds Way Bldg. B, Space D Edmonds 98020'],
 '98208': ['5714 134th Place SE Suite A2 Everett 98208',
  '10730 19th Ave SE Suite D Everett 98208',
  '305 SE Everett Mall Way Suite 11 Everett 98208',
  '309 East Casino Road Suite A Everett 98208'],
 '98204': ['12717 4th Avenue West Suite B Everett 98204',
  '11400 Evergreen Way Everett 98204',
  '1402 SE Everett Mall Way Space 620 Everett 98204'],
 '98087': ['1233 164th St SW #Q Lynnwood 98087-',
  '2902 164th St SW STE B7 Lynnwood 98087-'],
 '98275': ['11700 Mukilteo Speedway #205 Muklilteo 98275',
  '9999 Harbour Place Suite 102 Mukilteo 98275'],
 '98203': ['7415 Hardeson Rd E Everett 98203',
  '5129 Evergreen Way Ste 2 Everett 98203'],
 '98201': ['3710 Broadway Suite 105 Everett 98201',
  '1620 Hewitt Ave Everett 98201',
  '2715 Hewitt Ave Everett 98201',
  '2000 W Marine View Dr 1950 Everett 98201',
  '851 N Broadway Suite 101 & 102 Everett 98201'],
 '98272': ['14090 Fryelands Blvd SE Suite 101 Monroe 98272',
  '19636 State Route 2 Monroe 98272',
  '14751 North Kelsey Street Suite 111 Monroe 98272',
  '19191 N Kelsey St Monroe 98272'],
 '98070': ['17408 Vashon Hwy SW Vashon 98070'],
 '98332': ['11430 51st Ave STE 100 Gig 98332'],
 '98335': ['6820 Kimball Drive Suite A4 Gig 98335',
  '4804 Point Fosdick Dr NW Gig 98335'],
 '98166': ['594 SW 152nd Street Burien 98166'],
 '98407': ['2723 N Pearl Street A4 Tacoma 98407'],
 '98146': ['10406 16th Ave SW Seattle 98146'],
 '98465': ['1816 S Mildred St 6E Tacoma 98465'],
 '98409': ['4916 Center St Ste B Tacoma 98409',
  '2626 South Tacoma Way Tacoma 98409',
  '3873 South 66th Street Tacoma 98409'],
 '98366': ['1600 Woods Rd SE Port 98366',
  '3497 Bethel Rd SE Port 98366',
  '3311 Bethel Rd SE Suite 9 A Port 98366',
  '3001 SE Mile Hill Dr, Ste 140 Port 98366'],
 '98136': ['6515 California Ave SW Seattle 98136'],
 '98019': ['14606 Main St NE Suite 101/Building 4 Duvall 98019'],
 '98065': ['7329 Better Way SE Suite 125 Snoqualmie 98065'],
 '98045': ['521 South Fork Ave SW Ste K1 North 98045',
  '470 E North Bend Way North 98045'],
 '98294': ['US Hwy 2 & 339th Ave SE Sultan 98294'],
 '98346': ['10978 Hwy 104 Kingston 98346'],
 '98117': ['8757 Holman Rd NW Suite D Seattle 98117'],
 '98107': ['5300 15th Ave NW Seattle 98107', '4530 9th Ave NW Seattle 98107'],
 '98103': ['4301 Stone Way North Suite A Seattle 98103'],
 '98922': ['207 West 1st Street Cle Elum Subway Cle 98922'],
 '98360': ['215 Whitesell St Orting 98360'],
 '98375': ['16116 Meridian E Ste 1 Puyallup 98375',
  '16502 Meridian Ave E PUYALLUP 98375',
  '5604 176th St East Ste F 101 Puyallup 98375'],
 '98338': ['22205 Meridian Ave East Graham 98338'],
 '98404': ['402 East 56th St Tacoma 98404',
  '1407 E 72nd St Ste E Tacoma 98404'],
 '98408': ['6402 S Yakima Ave Suite C1 Tacoma 98408',
  '1901 S 72nd Street Suite A37 Tacoma 98408'],
 '98119': ['3310 3rd Ave W Seattle 98119',
  '1837 15th Ave West Suite A12 Seattle 98119'],
 '98106': ['6760 W Marginal Way SW Seattle 98106',
  '3829 Delridge Way SW Building C Ste C 205 Seattle 98106'],
 '98110': ['321 High School Road NE Suite D5 Bainbridge 98110'],
 '98199': ['3320 W McGraw Seattle 98199'],
 '98345': ['610 Dowell Street Building 489 Keyport 98345'],
 '98311': ['1554 NE Fairgrounds Road Suite 1A Bremerton 98311',
  '6797 State Hwy 303 NE Bremerton 98311'],
 '98310': ['5050 State Hwy 303 NE Bremerton 98310',
  '1100 Wheaton Way Suite E Bremerton 98310'],
 '98370': ['18960 State Hwy 305 NE Poulsbo 98370',
  '19890 Viking Ave Poulsbo 98370',
  '21555 Olhava Way NW Suite 101 Poulsbo 98370',
  '21200 Olhava Way NW Poulsbo 98370'],
 '98383': ['2238 NW Bucklin Hill Rd Ste 102 Silverdale 98383',
  '10315 Silverdale Way NW C05 Silverdale 98383'],
 '98337': ['70 Washington Ave Bremerton 98337'],
 '98315': ['2601 Ohio St MUST HAVE BASE ACCESS Silverdale 98315'],
 '98314': ['Bldg 863 MUST HAVE BASE ACCESS Bremerton 98314'],
 '98826': ['920 Highway 2 Leavenworth 98826'],
 '98815': ['130 Titchenal Way Cashmere 98815'],
 '98926': ['1512 Hwy 97 Ellensburg 98926',
  '1005 E University Way Ellensburg 98926',
  '1301 Canyon Rd Ellensburg 98926'],
 '98801': ['2000 N Wenatchee Ave Wenatchee 98801',
  '147 Easy Way Wenatchee 98801'],
 '98802': ['929 Mission St Wenatchee 98802', '226 Grant Rd Wenatchee 98802'],
 '98367': ['435 SW Sedgwick Road Suite 105 Ground Floor Port 98367'],
 '98258': ['1819 S Lake Stevens Road Lake 98258',
  '303 91st Ave NE 105 Lake 98258',
  '1807 Main St Lake 98258'],
 '98312': ['Boone Rd Bldg HPO-1 MUST HAVE BASE ACCESS Bremerton 98312',
  '3850 Kitsap Way Bremerton 98312',
  '4710 Werner Road Bremerton 98312'],
 '98270': ['450 State Ave Suite 101 Marysville 98270',
  '8713 64th Street NE Marysville 98270',
  '9214 State Ave Marysville 98270',
  '3943 116th Street NE 106 Marysville 98270'],
 '98271': ['10600 Quilceda Blvd Suite 381 Tulalip 98271'],
 '98223': ['16820 Smokey Point Blvd 101 Arlington 98223',
  '4010 172nd Street Arlington 98223',
  '7705 204th St NE Suite 104 Arlington 98223',
  '2211 WA-530 Arlington 98223'],
 '98252': ['703 W Stanley Street Granite 98252'],
 '98247': ['3740 Mt Baker Hwy Everson 98247',
  '102 W Main Street Suite 101 Everson 98247'],
 '98284': ['108 N Township Suite A Sedro 98284'],
 '98229': ['1306 Lakeway Dr Bellingham 98229'],
 '98225': ['101 South Samish Way Bellingham 98225',
  '3123 Old Fairhaven Pkwy Bellingham 98225',
  '1920 King St Bellingham 98225',
  '128 E Holly Bellingham 98225',
  '516 High St - Viking Union Bellingham 98225',
  '516 High Street Atrium at Artzen Bellingham 98225',
  '3212 NW Ave Unit A4 Bellingham 98225'],
 '98226': ['3011 Cinema Place Suite 103 Bellingham 98226',
  '4152 Meridian Suite 102 Bellingham 98226',
  '1 Bellis Fair Pky Ste 521 Bellingham 98226',
  '1317 W Bakerview Rd Ste 101 Bellingham 98226',
  '5927 Guide Meridian Bellingham 98226'],
 '98233': ['9660 Old Highway 99 N Rd Ste B Burlington 98233',
  '325 Cascade Mall Dr Space E05 Burlington 98233',
  '1765 S Burlington Blvd Burlington 98233'],
 '98273': ['2301 Freeway Drive Mount 98273',
  '323 E College Way Suite C Mount 98273'],
 '98274': ['2323 E Section St Mount 98274'],
 '98248': ['1678 Main Street Unit 2 Ferndale 98248',
  '5675-3rd Ave Ferndale 98248'],
 '98264': ['8176 Guide Meridian Lynden 98264',
  '8890 Bender Road Lynden 98264'],
 '98221': ['1518 Commercial Ave Anacortes 98221'],
 '8M9': ['1379 Sumas Way Suite  100 Abbotsford 8M9'],
 '8K1': ['1956 Vedder Way Abbotsford 8K1'],
 '2K8': ['2054 Whatcom Road Abbotsford 2K8'],
 '8H6': ['2047 Sumas Way Unit 18 Abbotsford 8H6'],
 '3N3': ['1975 McCallum Road Unit 101 Abbotsford 3N3'],
 '1C4': ['2618 McMillian Rd Suite 108 Abbotsford 1C4'],
 '2B9': ['33640 S Fraser Way Suite 101 Abbotsford 2B9'],
 '5A1': ['32900 South Fraser Way Unit 404 Abbotsford 5A1'],
 '4K9': ['2965 Immel Street Abbotsford 4K9'],
 '1V5': ['31943 S Fraser Way Suite 104 Abbotsford 1V5'],
 '6K9': ['31221 Peardonville Rd Abbotsford 6K9'],
 '4E6': ['32660 George Ferguson Way Suite  101 Abbotsford 4E6',
  '20300 Fraser Highway Unit 201 Langley 4E6'],
 '98230': ['8115 Birch Bay Square Street Unit 209 Blaine 98230',
  '1733 H Street Unit 825 Blaine 98230'],
 '0C5': ['3122 Mt Lehman Road D125 Abbotsford 0C5'],
 '3N5': ['27544 Fraser Hwy Aldergrove 3N5'],
 '2Z7': ['26361 Fraser Hwy B110 Aldergrove 2Z7'],
 '98292': ['7009 265th St NW Suite 101 Stanwood 98292'],
 '98277': ['32209 N State Hwy 20 Oak 98277', '1250 SW Erie Street Oak 98277'],
 '0M6': ['45575 Keith Wilson Road Unit 1 Chilliwack 0M6'],
 '98278': ['1060 W Lexington Ault Field Bldg 2749 Oak 98278'],
 '1A7': ['32670 Lougheed Hwy 76 Mission 1A7'],
 '5M4': ['6014 Vedder Rd Unit 4 Chilliwack 5M4',
  '4706 Johnston Road Port 5M4'],
 '98282': ['370 NE Camano Drive Camano 98282'],
 '98368': ['1300 Water St Port 98368'],
 '6R3': ['#104 A - 1964 Fort St Victoria 6R3'],
 '0A3': ['1638 McKenzie Avenue Unit 106 Victoria 0A3'],
 '5Y1': ['4091 Shelbourne Street Victoria 5Y1'],
 '5N4': ['3749 Shelbourne St Suite 209 Victoria 5N4'],
 '1J8': ['1952 Bay Street Unit 4 Victoria 1J8'],
 '2C4': ['1633 Hillside Ave Victoria 2C4'],
 '5J2': ['1568 Fort St Victoria 5J2'],
 '5P5': ['1110 McKenzie Ave Victoria 5P5'],
 '3K4': ['1090 Fort Street Unit 100 Victoria 3K4'],
 '5E4': ['774 Bay St Victoria 5E4'],
 '2L1': ['1420 Quadra Street Ste 104 Victoria 2L1'],
 '6E3': ['3147 Douglas St FC4 Victoria 6E3'],
 '3E9': ['4480 W Saanich Rd Suite 108 Victoria 3E9'],
 '3L5': ['3400 Douglas St 204 Victoria 3L5'],
 '2E8': ['1324 Douglas St Victoria 2E8'],
 '2H7': ['1111 Blanshard St Suite 101 Victoria 2H7'],
 '2W4': ['456 Gorge Rd E Ground Floor, Suite B Victoria 2W4'],
 '2A6': ['2138 B Keating Cross Road Saanichton 2A6',
  '2935 Tillicum Rd Victoria 2A6'],
 '2G6': ['239 Menzies St Victoria 2G6'],
 '4W6': ['#300-9810 Seventh Street Sidney 4W6'],
 '3X1': ['2725 192nd St Unit 302 Surrey 3X1'],
 '2X9': ['20759 40th Avenue Unit 104 Langley 2X9'],
 '1K8': ['4061 200th St 119 Langley 1K8'],
 '4H6': ['22372 Fraser Hwy 101 Langley 4H6', '327 Baker St Nelson 4H6'],
 '9N6': ['2285-160th St Unit E3 Surrey 9N6'],
 '4N3': ['1797 152nd St Ste 105 Surrey 4N3'],
 '3Z3': ['26426 - 56th Avenue Unit A Langley 3Z3'],
 '0C8': ['2525-160th Street Surrey 0C8'],
 '4G7': ['20821 Fraser Hwy Unit 59 Langley 4G7'],
 '2J4': ['2255 King George Hwy Unit 101 Surrey 2J4'],
 '3N7': ['2990 152nd ST Suite 106 Surrey 3N7'],
 '1A5': ['3278 King George Highway Unit 3 Surrey 1A5',
  '101 - 7900 Westminster Hwy Richmond 1A5'],
 '3V2': ['1623 128th St Surrey 3V2'],
 '2A2': ['14313 Cresent Rd Surrey 2A2'],
 '1C6': ['17700 56th Avenue Unit  A103 Surrey 1C6',
  '17755 64th Ave Suite 101 Cloverdale 1C6'],
 '1N3': ['5958 200th Street Langley 1N3'],
 '7E9': ['19705 Fraser Highway Unit 436 Langley 7E9'],
 '5E7': ['20460 Langley Bypass Langley 5E7',
  '19653 Willowbrook Drive 150 Langley 5E7'],
 '9A5': ['15141 Hwy #10 Unit D101, Phase I Surrey 9A5'],
 '1P3': ['20202 66th Avenue Langley 1P3'],
 '1P2': ['6550 - 200th Street Langley 1P2'],
 '8E7': ['18775 Fraser Hwy Unit 101 Surrey 8E7'],
 '1M9': ['19188 72 Avenue Unit 106 Surrey 1M9'],
 '3B9': ['7150 200th St Suite 200 Langley 3B9'],
 '1T0': ['6830 216th Street Langley 1T0', '35609 Hwy 97 Oliver 1T0'],
 '2G2': ['#111, 15122 72 Avenue Surrey 2G2'],
 '4Z3': ['6468 King George Hwy Surrey 4Z3'],
 '2P2': ['13745 72nd Ave Unit 120A Surrey 2P2'],
 '0G4': ['8700 200th Street 120 Langley 0G4'],
 '2N4': ['13245-72 Avenue Suite 103 Surrey 2N4'],
 '2T2': ['7550 King George Hwy Unit 4 Surrey 2T2'],
 '0Y3': ['15905 Fraser Highway Suite 103 Surrey 0Y3'],
 '2K5': ['20349 88th Ave Unit 3 Langley 2K5'],
 '3G3': ['6421 Scott Road Delta 3G3'],
 '2V8': ['15551 Fraser Hwy Suite 110 Surrey 2V8',
  '538 Yates Rd Unit 7 Kelowna 2V8'],
 '5B5': ['8050 King George Blvd Unit 101 Surrey 5B5'],
 '0R6': ['101-7750 128th St Surrey 0R6'],
 '2A9': ['7031 120 th Street Unit 7059 Delta 2A9'],
 '6P5': ['7351 120th St Delta 6P5'],
 '3K8': ['13578 88th Ave Unit 116 Surrey 3K8'],
 '3C7': ['45280 Luckakuck Way Chilliwack 3C7'],
 '5R8': ['8249 Eagle Landing Parkway Unit 212 Chilliwack 5R8'],
 '1X0': ['#100-53003 Bunker Road Rosedale 1X0'],
 '3Z9': ['8032 Lickman Road Chilliwack 3Z9'],
 '7V2': ['46030 Yale Rd Unit 7 Chilliwack 7V2'],
 '2P6': ['46298D Yale Rd E Chilliwack 2P6'],
 '98382': ['680 W Washington Suite E101 Sequim 98382'],
 '1R1': ['7103 West Saanich Road Suite 2B Brentwood 1R1'],
 '5A7': ['4144 Wilkinson Rd Unit 7 Victoria 5A7'],
 '5G5': ['120 - 31 Helmcken Rd Victoria 5G5'],
 '3M4': ['890A Esquimalt Road Victoria 3M4'],
 '2P8': ['#102 1503 Admirals Road Esquimalt 2P8'],
 '1H8': ['1790 Island Hwy Unit 103 Victoria 1H8',
  '6060 Blundell Road 110 Richmond 1H8'],

In [265]:
subway_locations_dict2 = subway_locations_dict.copy()
for key in subway_locations_dict.keys():
    if key not in WA_zips_strings:
        print(key)
        subway_locations_dict2.pop(key, None)

8M9
8K1
2K8
8H6
3N3
1C4
2B9
5A1
4K9
1V5
6K9
4E6
0C5
3N5
2Z7
0M6
1A7
5M4
6R3
0A3
5Y1
5N4
1J8
2C4
5J2
5P5
3K4
5E4
2L1
6E3
3E9
3L5
2E8
2H7
2W4
2A6
2G6
4W6
3X1
2X9
1K8
4H6
9N6
4N3
3Z3
0C8
4G7
2J4
3N7
1A5
3V2
2A2
1C6
1N3
7E9
5E7
9A5
1P3
1P2
8E7
1M9
3B9
1T0
2G2
4Z3
2P2
0G4
2N4
2T2
0Y3
2K5
3G3
2V8
5B5
0R6
2A9
6P5
3K8
3C7
5R8
1X0
3Z9
7V2
2P6
1R1
5A7
5G5
3M4
2P8
1H8
3R5
2P0
2X3
1X1
4C6
5E3
6T1
1H3
2W0
2S1
1A0
2A4
0B2
1W4
1E7
1K2
1W6
2Z3
3X9
1V2
2L7
6G6
0M5
2C7
1P6
5V2
1J4
1P8
2W8
1Y1
4C1
5X2
1C7
1L2
1L0
1W0
0A5
2G0
3R2
6C6
1K0
1B3
7A4
5S5
1P1
5E2
4W3
97031
1H1
97103
97146
97138
97016
97048
97064
97051
97056
97060
97220
97230
97217
97030
97218
97058
97067
97055
97233
97236
97211
97203
97213
97216
97106
97229
97124
97113
97123
97818
97023
97141
97741
97015
97882
97838
97875
97210
97232
97209
97225
97204
97205
97214
97201
97266
1V0
1N2
1H0
9B8
6W6
5G8
5L1
1Z0
1X5
1Y9
2Z1
3G8
4C9
5V6
6C7
6H2
8E6
6M4
7C6
7K2
1X6
5C3
1V7
3C3
1S1
1P5
1Y0
4A3
4W4
1B8
9R1
2W9
1G8
9H6
4Y4
5Z3
83854
83815
83835
83814
83861
83843
83501
83544
1G0
83852
83864
83530
97862
83805
2C6
3S3
59923
97828
97801
97850
83654
97814
83638
V2V6K
V8T2C
V3X1B
V3K4S
V3W3M
V2V6B
V4G1C
V6Y2B
97116
V1Y1W

In [272]:
count = 0
for element in subway_locations_dict2.values():
    count += len(element)
print('Number of Subways in WA:',count)

Number of Subways in WA: 551

In [273]:
#with open('subway_dict_WA.pickle', 'wb') as handle:
    #pickle.dump(subway_locations_dict2, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [833]:
with open('data/subway_dict_WA.pickle', 'rb') as handle:
    subway_dict_WA = pickle.load(handle)

In [834]:
business_data = pd.read_csv('data/zbp16detail.txt')

In [835]:
def rename_cols(columns,string):
    new_col = []
    for col in columns:
        new_col.append(string+col)
    return new_col

In [836]:
df = business_data[(business_data['zip'] >= 98001) & (business_data['zip'] <= 99403)].groupby('zip').sum()
df.columns = rename_cols(df.columns,'num_businesses_')

In [837]:
df

,num_businesses_est,num_businesses_n1_4,num_businesses_n5_9,num_businesses_n10_19,num_businesses_n20_49,num_businesses_n50_99,num_businesses_n100_249,num_businesses_n250_499,num_businesses_n500_999,num_businesses_n1000
zip,,,,,,,,,,
98001,6828,3162,1230,1050,834,288,186,36,24,18
98002,5858,3074,1116,798,630,108,90,36,0,6
98003,9576,4992,1968,1242,858,336,132,36,12,0
98004,17966,9236,3162,2256,1764,792,498,156,66,36
98005,10156,5266,1938,1434,864,372,204,60,12,6
...,...,...,...,...,...,...,...,...,...,...
99363,102,30,12,24,12,6,6,6,0,6
99371,18,12,6,0,0,0,0,0,0,0
99401,6,0,6,0,0,0,0,0,0,0
99402,198,156,36,6,0,0,0,0,0,0
99403,2430,1260,540,354,186,60,18,12,0,0

In [838]:
for zipcode in WA_zips:
    if zipcode not in df.index:
        df.loc[zipcode,:] = -1

In [839]:
subway_count = dict()
for key, value in subway_dict_WA.items():
    subway_count[int(key)] = len(value)

In [840]:
df['subway_count'] = pd.Series(subway_count)

In [841]:
df = df.fillna(0)

In [842]:
df

,num_businesses_est,num_businesses_n1_4,num_businesses_n5_9,num_businesses_n10_19,num_businesses_n20_49,num_businesses_n50_99,num_businesses_n100_249,num_businesses_n250_499,num_businesses_n500_999,num_businesses_n1000,subway_count
zip,,,,,,,,,,,
98001,6828.0,3162.0,1230.0,1050.0,834.0,288.0,186.0,36.0,24.0,18.0,0.0
98002,5858.0,3074.0,1116.0,798.0,630.0,108.0,90.0,36.0,0.0,6.0,4.0
98003,9576.0,4992.0,1968.0,1242.0,858.0,336.0,132.0,36.0,12.0,0.0,6.0
98004,17966.0,9236.0,3162.0,2256.0,1764.0,792.0,498.0,156.0,66.0,36.0,5.0
98005,10156.0,5266.0,1938.0,1434.0,864.0,372.0,204.0,60.0,12.0,6.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
98667,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0
98190,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0
99144,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0
98412,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0
99256,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0

In [843]:
num_limited_service_rest_df = business_data[(business_data['naics'] == '722513') & (business_data['zip'] >= 98001) & (business_data['zip'] <= 99403)].groupby('zip').sum()
num_limited_service_rest_df.columns = rename_cols(num_limited_service_rest_df.columns,'num_limited_ser_rest_')
df = df.join(num_limited_service_rest_df,how='left')

In [844]:
df

,num_businesses_est,num_businesses_n1_4,num_businesses_n5_9,num_businesses_n10_19,num_businesses_n20_49,num_businesses_n50_99,num_businesses_n100_249,num_businesses_n250_499,num_businesses_n500_999,num_businesses_n1000,...,num_limited_ser_rest_est,num_limited_ser_rest_n1_4,num_limited_ser_rest_n5_9,num_limited_ser_rest_n10_19,num_limited_ser_rest_n20_49,num_limited_ser_rest_n50_99,num_limited_ser_rest_n100_249,num_limited_ser_rest_n250_499,num_limited_ser_rest_n500_999,num_limited_ser_rest_n1000
zip,,,,,,,,,,,,,,,,,,,,,
98001,6828.0,3162.0,1230.0,1050.0,834.0,288.0,186.0,36.0,24.0,18.0,...,24.0,8.0,3.0,8.0,4.0,1.0,0.0,0.0,0.0,0.0
98002,5858.0,3074.0,1116.0,798.0,630.0,108.0,90.0,36.0,0.0,6.0,...,40.0,11.0,5.0,6.0,15.0,3.0,0.0,0.0,0.0,0.0
98003,9576.0,4992.0,1968.0,1242.0,858.0,336.0,132.0,36.0,12.0,0.0,...,62.0,13.0,10.0,17.0,19.0,1.0,2.0,0.0,0.0,0.0
98004,17966.0,9236.0,3162.0,2256.0,1764.0,792.0,498.0,156.0,66.0,36.0,...,59.0,21.0,7.0,15.0,14.0,2.0,0.0,0.0,0.0,0.0
98005,10156.0,5266.0,1938.0,1434.0,864.0,372.0,204.0,60.0,12.0,6.0,...,23.0,12.0,8.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98667,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98190,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99144,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98412,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99256,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [845]:
num_restaurants_df = business_data[(business_data['naics'] == '72251/') & (business_data['zip'] >= 98001) & (business_data['zip'] <= 99403)].groupby('zip').sum()
num_restaurants_df.columns = rename_cols(num_restaurants_df.columns,'num_rest_')
df = df.join(num_restaurants_df,how='left')

In [846]:
df

,num_businesses_est,num_businesses_n1_4,num_businesses_n5_9,num_businesses_n10_19,num_businesses_n20_49,num_businesses_n50_99,num_businesses_n100_249,num_businesses_n250_499,num_businesses_n500_999,num_businesses_n1000,...,num_rest_est,num_rest_n1_4,num_rest_n5_9,num_rest_n10_19,num_rest_n20_49,num_rest_n50_99,num_rest_n100_249,num_rest_n250_499,num_rest_n500_999,num_rest_n1000
zip,,,,,,,,,,,,,,,,,,,,,
98001,6828.0,3162.0,1230.0,1050.0,834.0,288.0,186.0,36.0,24.0,18.0,...,50.0,16.0,7.0,15.0,10.0,2.0,0.0,0.0,0.0,0.0
98002,5858.0,3074.0,1116.0,798.0,630.0,108.0,90.0,36.0,0.0,6.0,...,74.0,23.0,9.0,13.0,26.0,3.0,0.0,0.0,0.0,0.0
98003,9576.0,4992.0,1968.0,1242.0,858.0,336.0,132.0,36.0,12.0,0.0,...,157.0,51.0,30.0,29.0,34.0,11.0,2.0,0.0,0.0,0.0
98004,17966.0,9236.0,3162.0,2256.0,1764.0,792.0,498.0,156.0,66.0,36.0,...,175.0,39.0,21.0,42.0,44.0,18.0,11.0,0.0,0.0,0.0
98005,10156.0,5266.0,1938.0,1434.0,864.0,372.0,204.0,60.0,12.0,6.0,...,54.0,22.0,14.0,11.0,5.0,2.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98667,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98190,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99144,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98412,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99256,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [847]:
pop_data = pd.read_csv('/Users/ericnaon/Downloads/ACS_17_5YR_S0101/ACS_17_5YR_S0101_with_ann.csv')

In [848]:
cols=list(pop_data.iloc[0,:].values)

In [849]:
pop_data.iloc[0,:].values

array(['Id', 'Id2', 'Geography', 'Total; Estimate; Total population',
       'Total; Margin of Error; Total population',
       'Percent; Estimate; Total population',
       'Percent; Margin of Error; Total population',
       'Male; Estimate; Total population',
       'Male; Margin of Error; Total population',
       'Percent Male; Estimate; Total population',
       'Percent Male; Margin of Error; Total population',
       'Female; Estimate; Total population',
       'Female; Margin of Error; Total population',
       'Percent Female; Estimate; Total population',
       'Percent Female; Margin of Error; Total population',
       'Total; Estimate; AGE - Under 5 years',
       'Total; Margin of Error; AGE - Under 5 years',
       'Percent; Estimate; AGE - Under 5 years',
       'Percent; Margin of Error; AGE - Under 5 years',
       'Male; Estimate; AGE - Under 5 years',
       'Male; Margin of Error; AGE - Under 5 years',
       'Percent Male; Estimate; AGE - Under 5 years',
       'Percent Male; Margin of Error; AGE - Under 5 years',
       'Female; Estimate; AGE - Under 5 years',
       'Female; Margin of Error; AGE - Under 5 years',
       'Percent Female; Estimate; AGE - Under 5 years',
       'Percent Female; Margin of Error; AGE - Under 5 years',
       'Total; Estimate; AGE - 5 to 9 years',
       'Total; Margin of Error; AGE - 5 to 9 years',
       'Percent; Estimate; AGE - 5 to 9 years',
       'Percent; Margin of Error; AGE - 5 to 9 years',
       'Male; Estimate; AGE - 5 to 9 years',
       'Male; Margin of Error; AGE - 5 to 9 years',
       'Percent Male; Estimate; AGE - 5 to 9 years',
       'Percent Male; Margin of Error; AGE - 5 to 9 years',
       'Female; Estimate; AGE - 5 to 9 years',
       'Female; Margin of Error; AGE - 5 to 9 years',
       'Percent Female; Estimate; AGE - 5 to 9 years',
       'Percent Female; Margin of Error; AGE - 5 to 9 years',
       'Total; Estimate; AGE - 10 to 14 years',
       'Total; Margin of Error; AGE - 10 to 14 years',
       'Percent; Estimate; AGE - 10 to 14 years',
       'Percent; Margin of Error; AGE - 10 to 14 years',
       'Male; Estimate; AGE - 10 to 14 years',
       'Male; Margin of Error; AGE - 10 to 14 years',
       'Percent Male; Estimate; AGE - 10 to 14 years',
       'Percent Male; Margin of Error; AGE - 10 to 14 years',
       'Female; Estimate; AGE - 10 to 14 years',
       'Female; Margin of Error; AGE - 10 to 14 years',
       'Percent Female; Estimate; AGE - 10 to 14 years',
       'Percent Female; Margin of Error; AGE - 10 to 14 years',
       'Total; Estimate; AGE - 15 to 19 years',
       'Total; Margin of Error; AGE - 15 to 19 years',
       'Percent; Estimate; AGE - 15 to 19 years',
       'Percent; Margin of Error; AGE - 15 to 19 years',
       'Male; Estimate; AGE - 15 to 19 years',
       'Male; Margin of Error; AGE - 15 to 19 years',
       'Percent Male; Estimate; AGE - 15 to 19 years',
       'Percent Male; Margin of Error; AGE - 15 to 19 years',
       'Female; Estimate; AGE - 15 to 19 years',
       'Female; Margin of Error; AGE - 15 to 19 years',
       'Percent Female; Estimate; AGE - 15 to 19 years',
       'Percent Female; Margin of Error; AGE - 15 to 19 years',
       'Total; Estimate; AGE - 20 to 24 years',
       'Total; Margin of Error; AGE - 20 to 24 years',
       'Percent; Estimate; AGE - 20 to 24 years',
       'Percent; Margin of Error; AGE - 20 to 24 years',
       'Male; Estimate; AGE - 20 to 24 years',
       'Male; Margin of Error; AGE - 20 to 24 years',
       'Percent Male; Estimate; AGE - 20 to 24 years',
       'Percent Male; Margin of Error; AGE - 20 to 24 years',
       'Female; Estimate; AGE - 20 to 24 years',
       'Female; Margin of Error; AGE - 20 to 24 years',
       'Percent Female; Estimate; AGE - 20 to 24 years',
       'Percent Female; Margin of Error; AGE - 20 to 24 years',
       'Total; Estimate; AGE - 25 to 29 years',
       'Total; Margin of Error; AGE - 25 to 29 years',
       'Percent; Estimate; AGE - 25 to 29 years',
       'Percent; Margin of Error; AGE - 25 to 29 years',
       'Male; Estimate; AGE - 25 to 29 years',
       'Male; Margin of Error; AGE - 25 to 29 years',
       'Percent Male; Estimate; AGE - 25 to 29 years',
       'Percent Male; Margin of Error; AGE - 25 to 29 years',
       'Female; Estimate; AGE - 25 to 29 years',
       'Female; Margin of Error; AGE - 25 to 29 years',
       'Percent Female; Estimate; AGE - 25 to 29 years',
       'Percent Female; Margin of Error; AGE - 25 to 29 years',
       'Total; Estimate; AGE - 30 to 34 years',
       'Total; Margin of Error; AGE - 30 to 34 years',
       'Percent; Estimate; AGE - 30 to 34 years',
       'Percent; Margin of Error; AGE - 30 to 34 years',
       'Male; Estimate; AGE - 30 to 34 years',
       'Male; Margin of Error; AGE - 30 to 34 years',
       'Percent Male; Estimate; AGE - 30 to 34 years',
       'Percent Male; Margin of Error; AGE - 30 to 34 years',
       'Female; Estimate; AGE - 30 to 34 years',
       'Female; Margin of Error; AGE - 30 to 34 years',
       'Percent Female; Estimate; AGE - 30 to 34 years',
       'Percent Female; Margin of Error; AGE - 30 to 34 years',
       'Total; Estimate; AGE - 35 to 39 years',
       'Total; Margin of Error; AGE - 35 to 39 years',
       'Percent; Estimate; AGE - 35 to 39 years',
       'Percent; Margin of Error; AGE - 35 to 39 years',
       'Male; Estimate; AGE - 35 to 39 years',
       'Male; Margin of Error; AGE - 35 to 39 years',
       'Percent Male; Estimate; AGE - 35 to 39 years',
       'Percent Male; Margin of Error; AGE - 35 to 39 years',
       'Female; Estimate; AGE - 35 to 39 years',
       'Female; Margin of Error; AGE - 35 to 39 years',
       'Percent Female; Estimate; AGE - 35 to 39 years',
       'Percent Female; Margin of Error; AGE - 35 to 39 years',
       'Total; Estimate; AGE - 40 to 44 years',
       'Total; Margin of Error; AGE - 40 to 44 years',
       'Percent; Estimate; AGE - 40 to 44 years',
       'Percent; Margin of Error; AGE - 40 to 44 years',
       'Male; Estimate; AGE - 40 to 44 years',
       'Male; Margin of Error; AGE - 40 to 44 years',
       'Percent Male; Estimate; AGE - 40 to 44 years',
       'Percent Male; Margin of Error; AGE - 40 to 44 years',
       'Female; Estimate; AGE - 40 to 44 years',
       'Female; Margin of Error; AGE - 40 to 44 years',
       'Percent Female; Estimate; AGE - 40 to 44 years',
       'Percent Female; Margin of Error; AGE - 40 to 44 years',
       'Total; Estimate; AGE - 45 to 49 years',
       'Total; Margin of Error; AGE - 45 to 49 years',
       'Percent; Estimate; AGE - 45 to 49 years',
       'Percent; Margin of Error; AGE - 45 to 49 years',
       'Male; Estimate; AGE - 45 to 49 years',
       'Male; Margin of Error; AGE - 45 to 49 years',
       'Percent Male; Estimate; AGE - 45 to 49 years',
       'Percent Male; Margin of Error; AGE - 45 to 49 years',
       'Female; Estimate; AGE - 45 to 49 years',
       'Female; Margin of Error; AGE - 45 to 49 years',
       'Percent Female; Estimate; AGE - 45 to 49 years',
       'Percent Female; Margin of Error; AGE - 45 to 49 years',
       'Total; Estimate; AGE - 50 to 54 years',
       'Total; Margin of Error; AGE - 50 to 54 years',
       'Percent; Estimate; AGE - 50 to 54 years',
       'Percent; Margin of Error; AGE - 50 to 54 years',
       'Male; Estimate; AGE - 50 to 54 years',
       'Male; Margin of Error; AGE - 50 to 54 years',
       'Percent Male; Estimate; AGE - 50 to 54 years',
       'Percent Male; Margin of Error; AGE - 50 to 54 years',
       'Female; Estimate; AGE - 50 to 54 years',
       'Female; Margin of Error; AGE - 50 to 54 years',
       'Percent Female; Estimate; AGE - 50 to 54 years',
       'Percent Female; Margin of Error; AGE - 50 to 54 years',
       'Total; Estimate; AGE - 55 to 59 years',
       'Total; Margin of Error; AGE - 55 to 59 years',
       'Percent; Estimate; AGE - 55 to 59 years',
       'Percent; Margin of Error; AGE - 55 to 59 years',
       'Male; Estimate; AGE - 55 to 59 years',
       'Male; Margin of Error; AGE - 55 to 59 years',
       'Percent Male; Estimate; AGE - 55 to 59 years',
       'Percent Male; Margin of Error; AGE - 55 to 59 years',
       'Female; Estimate; AGE - 55 to 59 years',
       'Female; Margin of Error; AGE - 55 to 59 years',
       'Percent Female; Estimate; AGE - 55 to 59 years',
       'Percent Female; Margin of Error; AGE - 55 to 59 years',
       'Total; Estimate; AGE - 60 to 64 years',
       'Total; Margin of Error; AGE - 60 to 64 years',
       'Percent; Estimate; AGE - 60 to 64 years',
       'Percent; Margin of Error; AGE - 60 to 64 years',
       'Male; Estimate; AGE - 60 to 64 years',
       'Male; Margin of Error; AGE - 60 to 64 years',
       'Percent Male; Estimate; AGE - 60 to 64 years',
       'Percent Male; Margin of Error; AGE - 60 to 64 years',
       'Female; Estimate; AGE - 60 to 64 years',
       'Female; Margin of Error; AGE - 60 to 64 years',
       'Percent Female; Estimate; AGE - 60 to 64 years',
       'Percent Female; Margin of Error; AGE - 60 to 64 years',
       'Total; Estimate; AGE - 65 to 69 years',
       'Total; Margin of Error; AGE - 65 to 69 years',
       'Percent; Estimate; AGE - 65 to 69 years',
       'Percent; Margin of Error; AGE - 65 to 69 years',
       'Male; Estimate; AGE - 65 to 69 years',
       'Male; Margin of Error; AGE - 65 to 69 years',
       'Percent Male; Estimate; AGE - 65 to 69 years',
       'Percent Male; Margin of Error; AGE - 65 to 69 years',
       'Female; Estimate; AGE - 65 to 69 years',
       'Female; Margin of Error; AGE - 65 to 69 years',
       'Percent Female; Estimate; AGE - 65 to 69 years',
       'Percent Female; Margin of Error; AGE - 65 to 69 years',
       'Total; Estimate; AGE - 70 to 74 years',
       'Total; Margin of Error; AGE - 70 to 74 years',
       'Percent; Estimate; AGE - 70 to 74 years',
       'Percent; Margin of Error; AGE - 70 to 74 years',
       'Male; Estimate; AGE - 70 to 74 years',
       'Male; Margin of Error; AGE - 70 to 74 years',
       'Percent Male; Estimate; AGE - 70 to 74 years',
       'Percent Male; Margin of Error; AGE - 70 to 74 years',
       'Female; Estimate; AGE - 70 to 74 years',
       'Female; Margin of Error; AGE - 70 to 74 years',
       'Percent Female; Estimate; AGE - 70 to 74 years',
       'Percent Female; Margin of Error; AGE - 70 to 74 years',
       'Total; Estimate; AGE - 75 to 79 years',
       'Total; Margin of Error; AGE - 75 to 79 years',
       'Percent; Estimate; AGE - 75 to 79 years',
       'Percent; Margin of Error; AGE - 75 to 79 years',
       'Male; Estimate; AGE - 75 to 79 years',
       'Male; Margin of Error; AGE - 75 to 79 years',
       'Percent Male; Estimate; AGE - 75 to 79 years',
       'Percent Male; Margin of Error; AGE - 75 to 79 years',
       'Female; Estimate; AGE - 75 to 79 years',
       'Female; Margin of Error; AGE - 75 to 79 years',
       'Percent Female; Estimate; AGE - 75 to 79 years',
       'Percent Female; Margin of Error; AGE - 75 to 79 years',
       'Total; Estimate; AGE - 80 to 84 years',
       'Total; Margin of Error; AGE - 80 to 84 years',
       'Percent; Estimate; AGE - 80 to 84 years',
       'Percent; Margin of Error; AGE - 80 to 84 years',
       'Male; Estimate; AGE - 80 to 84 years',
       'Male; Margin of Error; AGE - 80 to 84 years',
       'Percent Male; Estimate; AGE - 80 to 84 years',
       'Percent Male; Margin of Error; AGE - 80 to 84 years',
       'Female; Estimate; AGE - 80 to 84 years',
       'Female; Margin of Error; AGE - 80 to 84 years',
       'Percent Female; Estimate; AGE - 80 to 84 years',
       'Percent Female; Margin of Error; AGE - 80 to 84 years',
       'Total; Estimate; AGE - 85 years and over',
       'Total; Margin of Error; AGE - 85 years and over',
       'Percent; Estimate; AGE - 85 years and over',
       'Percent; Margin of Error; AGE - 85 years and over',
       'Male; Estimate; AGE - 85 years and over',
       'Male; Margin of Error; AGE - 85 years and over',
       'Percent Male; Estimate; AGE - 85 years and over',
       'Percent Male; Margin of Error; AGE - 85 years and over',
       'Female; Estimate; AGE - 85 years and over',
       'Female; Margin of Error; AGE - 85 years and over',
       'Percent Female; Estimate; AGE - 85 years and over',
       'Percent Female; Margin of Error; AGE - 85 years and over',
       'Total; Estimate; SELECTED AGE CATEGORIES - 5 to 14 years',
       'Total; Margin of Error; SELECTED AGE CATEGORIES - 5 to 14 years',
       'Percent; Estimate; SELECTED AGE CATEGORIES - 5 to 14 years',
       'Percent; Margin of Error; SELECTED AGE CATEGORIES - 5 to 14 years',
       'Male; Estimate; SELECTED AGE CATEGORIES - 5 to 14 years',
       'Male; Margin of Error; SELECTED AGE CATEGORIES - 5 to 14 years',
       'Percent Male; Estimate; SELECTED AGE CATEGORIES - 5 to 14 years',
       'Percent Male; Margin of Error; SELECTED AGE CATEGORIES - 5 to 14 years',
       'Female; Estimate; SELECTED AGE CATEGORIES - 5 to 14 years',
       'Female; Margin of Error; SELECTED AGE CATEGORIES - 5 to 14 years',
       'Percent Female; Estimate; SELECTED AGE CATEGORIES - 5 to 14 years',
       'Percent Female; Margin of Error; SELECTED AGE CATEGORIES - 5 to 14 years',
       'Total; Estimate; SELECTED AGE CATEGORIES - 15 to 17 years',
       'Total; Margin of Error; SELECTED AGE CATEGORIES - 15 to 17 years',
       'Percent; Estimate; SELECTED AGE CATEGORIES - 15 to 17 years',
       'Percent; Margin of Error; SELECTED AGE CATEGORIES - 15 to 17 years',
       'Male; Estimate; SELECTED AGE CATEGORIES - 15 to 17 years',
       'Male; Margin of Error; SELECTED AGE CATEGORIES - 15 to 17 years',
       'Percent Male; Estimate; SELECTED AGE CATEGORIES - 15 to 17 years',
       'Percent Male; Margin of Error; SELECTED AGE CATEGORIES - 15 to 17 years',
       'Female; Estimate; SELECTED AGE CATEGORIES - 15 to 17 years',
       'Female; Margin of Error; SELECTED AGE CATEGORIES - 15 to 17 years',
       'Percent Female; Estimate; SELECTED AGE CATEGORIES - 15 to 17 years',
       'Percent Female; Margin of Error; SELECTED AGE CATEGORIES - 15 to 17 years',
       'Total; Estimate; SELECTED AGE CATEGORIES - Under 18 years',
       'Total; Margin of Error; SELECTED AGE CATEGORIES - Under 18 years',
       'Percent; Estimate; SELECTED AGE CATEGORIES - Under 18 years',
       'Percent; Margin of Error; SELECTED AGE CATEGORIES - Under 18 years',
       'Male; Estimate; SELECTED AGE CATEGORIES - Under 18 years',
       'Male; Margin of Error; SELECTED AGE CATEGORIES - Under 18 years',
       'Percent Male; Estimate; SELECTED AGE CATEGORIES - Under 18 years',
       'Percent Male; Margin of Error; SELECTED AGE CATEGORIES - Under 18 years',
       'Female; Estimate; SELECTED AGE CATEGORIES - Under 18 years',
       'Female; Margin of Error; SELECTED AGE CATEGORIES - Under 18 years',
       'Percent Female; Estimate; SELECTED AGE CATEGORIES - Under 18 years',
       'Percent Female; Margin of Error; SELECTED AGE CATEGORIES - Under 18 years',
       'Total; Estimate; SELECTED AGE CATEGORIES - 18 to 24 years',
       'Total; Margin of Error; SELECTED AGE CATEGORIES - 18 to 24 years',
       'Percent; Estimate; SELECTED AGE CATEGORIES - 18 to 24 years',
       'Percent; Margin of Error; SELECTED AGE CATEGORIES - 18 to 24 years',
       'Male; Estimate; SELECTED AGE CATEGORIES - 18 to 24 years',
       'Male; Margin of Error; SELECTED AGE CATEGORIES - 18 to 24 years',
       'Percent Male; Estimate; SELECTED AGE CATEGORIES - 18 to 24 years',
       'Percent Male; Margin of Error; SELECTED AGE CATEGORIES - 18 to 24 years',
       'Female; Estimate; SELECTED AGE CATEGORIES - 18 to 24 years',
       'Female; Margin of Error; SELECTED AGE CATEGORIES - 18 to 24 years',
       'Percent Female; Estimate; SELECTED AGE CATEGORIES - 18 to 24 years',
       'Percent Female; Margin of Error; SELECTED AGE CATEGORIES - 18 to 24 years',
       'Total; Estimate; SELECTED AGE CATEGORIES - 15 to 44 years',
       'Total; Margin of Error; SELECTED AGE CATEGORIES - 15 to 44 years',
       'Percent; Estimate; SELECTED AGE CATEGORIES - 15 to 44 years',
       'Percent; Margin of Error; SELECTED AGE CATEGORIES - 15 to 44 years',
       'Male; Estimate; SELECTED AGE CATEGORIES - 15 to 44 years',
       'Male; Margin of Error; SELECTED AGE CATEGORIES - 15 to 44 years',
       'Percent Male; Estimate; SELECTED AGE CATEGORIES - 15 to 44 years',
       'Percent Male; Margin of Error; SELECTED AGE CATEGORIES - 15 to 44 years',
       'Female; Estimate; SELECTED AGE CATEGORIES - 15 to 44 years',
       'Female; Margin of Error; SELECTED AGE CATEGORIES - 15 to 44 years',
       'Percent Female; Estimate; SELECTED AGE CATEGORIES - 15 to 44 years',
       'Percent Female; Margin of Error; SELECTED AGE CATEGORIES - 15 to 44 years',
       'Total; Estimate; SELECTED AGE CATEGORIES - 16 years and over',
       'Total; Margin of Error; SELECTED AGE CATEGORIES - 16 years and over',
       'Percent; Estimate; SELECTED AGE CATEGORIES - 16 years and over',
       'Percent; Margin of Error; SELECTED AGE CATEGORIES - 16 years and over',
       'Male; Estimate; SELECTED AGE CATEGORIES - 16 years and over',
       'Male; Margin of Error; SELECTED AGE CATEGORIES - 16 years and over',
       'Percent Male; Estimate; SELECTED AGE CATEGORIES - 16 years and over',
       'Percent Male; Margin of Error; SELECTED AGE CATEGORIES - 16 years and over',
       'Female; Estimate; SELECTED AGE CATEGORIES - 16 years and over',
       'Female; Margin of Error; SELECTED AGE CATEGORIES - 16 years and over',
       'Percent Female; Estimate; SELECTED AGE CATEGORIES - 16 years and over',
       'Percent Female; Margin of Error; SELECTED AGE CATEGORIES - 16 years and over',
       'Total; Estimate; SELECTED AGE CATEGORIES - 18 years and over',
       'Total; Margin of Error; SELECTED AGE CATEGORIES - 18 years and over',
       'Percent; Estimate; SELECTED AGE CATEGORIES - 18 years and over',
       'Percent; Margin of Error; SELECTED AGE CATEGORIES - 18 years and over',
       'Male; Estimate; SELECTED AGE CATEGORIES - 18 years and over',
       'Male; Margin of Error; SELECTED AGE CATEGORIES - 18 years and over',
       'Percent Male; Estimate; SELECTED AGE CATEGORIES - 18 years and over',
       'Percent Male; Margin of Error; SELECTED AGE CATEGORIES - 18 years and over',
       'Female; Estimate; SELECTED AGE CATEGORIES - 18 years and over',
       'Female; Margin of Error; SELECTED AGE CATEGORIES - 18 years and over',
       'Percent Female; Estimate; SELECTED AGE CATEGORIES - 18 years and over',
       'Percent Female; Margin of Error; SELECTED AGE CATEGORIES - 18 years and over',
       'Total; Estimate; SELECTED AGE CATEGORIES - 21 years and over',
       'Total; Margin of Error; SELECTED AGE CATEGORIES - 21 years and over',
       'Percent; Estimate; SELECTED AGE CATEGORIES - 21 years and over',
       'Percent; Margin of Error; SELECTED AGE CATEGORIES - 21 years and over',
       'Male; Estimate; SELECTED AGE CATEGORIES - 21 years and over',
       'Male; Margin of Error; SELECTED AGE CATEGORIES - 21 years and over',
       'Percent Male; Estimate; SELECTED AGE CATEGORIES - 21 years and over',
       'Percent Male; Margin of Error; SELECTED AGE CATEGORIES - 21 years and over',
       'Female; Estimate; SELECTED AGE CATEGORIES - 21 years and over',
       'Female; Margin of Error; SELECTED AGE CATEGORIES - 21 years and over',
       'Percent Female; Estimate; SELECTED AGE CATEGORIES - 21 years and over',
       'Percent Female; Margin of Error; SELECTED AGE CATEGORIES - 21 years and over',
       'Total; Estimate; SELECTED AGE CATEGORIES - 60 years and over',
       'Total; Margin of Error; SELECTED AGE CATEGORIES - 60 years and over',
       'Percent; Estimate; SELECTED AGE CATEGORIES - 60 years and over',
       'Percent; Margin of Error; SELECTED AGE CATEGORIES - 60 years and over',

In [850]:
for i in list(np.arange(0,85,5)):
    if i == 0:
        string = 'Total; Estimate; AGE - ' + 'Under 5 years'
        index = cols.index(string)
    elif i == 84:
        string = 'Total; Estimate; AGE - ' + str(i) +' years and over'
        index = cols.index(string)
    else:
        string = 'Total; Estimate; AGE - ' + str(i) +' to ' + str(i+4) + ' years'
        index = cols.index(string)
    series = pd.Series(pop_data.iloc[:,index].values,index = pop_data['GEO.id2']).iloc[1:]
    series.index = series.index.astype(int)
    df[string] = series

In [851]:
df

,num_businesses_est,num_businesses_n1_4,num_businesses_n5_9,num_businesses_n10_19,num_businesses_n20_49,num_businesses_n50_99,num_businesses_n100_249,num_businesses_n250_499,num_businesses_n500_999,num_businesses_n1000,...,Total; Estimate; AGE - 35 to 39 years,Total; Estimate; AGE - 40 to 44 years,Total; Estimate; AGE - 45 to 49 years,Total; Estimate; AGE - 50 to 54 years,Total; Estimate; AGE - 55 to 59 years,Total; Estimate; AGE - 60 to 64 years,Total; Estimate; AGE - 65 to 69 years,Total; Estimate; AGE - 70 to 74 years,Total; Estimate; AGE - 75 to 79 years,Total; Estimate; AGE - 80 to 84 years
zip,,,,,,,,,,,,,,,,,,,,,
98001,6828.0,3162.0,1230.0,1050.0,834.0,288.0,186.0,36.0,24.0,18.0,...,1997,2214,2323,2541,2645,2206,1503,906,728,332
98002,5858.0,3074.0,1116.0,798.0,630.0,108.0,90.0,36.0,0.0,6.0,...,2625,2401,1911,2297,2552,1848,1201,981,836,517
98003,9576.0,4992.0,1968.0,1242.0,858.0,336.0,132.0,36.0,12.0,0.0,...,2534,2738,2934,3448,3114,2728,2044,1561,1274,849
98004,17966.0,9236.0,3162.0,2256.0,1764.0,792.0,498.0,156.0,66.0,36.0,...,2674,2106,2644,2384,2055,1797,1501,1013,937,741
98005,10156.0,5266.0,1938.0,1434.0,864.0,372.0,204.0,60.0,12.0,6.0,...,1684,1509,1436,1039,1323,679,699,805,531,341
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98667,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98190,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99144,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0,4,4,0,0,7,0,0,0,0
98412,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99256,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [852]:
def add_more_cols_to_df(dataframe,target_df,target_col,name_zip_col,name_new_col):
    series = pd.Series(target_df[target_col].values,index = target_df[name_zip_col]).iloc[1:]
    series.index = series.index.astype(int)
    dataframe[name_new_col] = series
    return dataframe

In [853]:
df = add_more_cols_to_df(df,pop_data,'HC01_EST_VC01','GEO.id2','population')

In [854]:
income_data = pd.read_csv('/Users/ericnaon/Downloads/ACS_17_5YR_S1903/ACS_17_5YR_S1903_with_ann.csv')

In [855]:
df = add_more_cols_to_df(df,income_data,'HC03_EST_VC02','GEO.id2','median_income')
df = add_more_cols_to_df(df,income_data,'HC01_EST_VC02','GEO.id2','num_households')

In [856]:
lang_data = pd.read_csv('/Users/ericnaon/Downloads/ACS_17_5YR_S1601/ACS_17_5YR_S1601_with_ann.csv')

In [857]:
lang_data.columns = lang_data.iloc[0,:].values
lang_data

,Id,Id2,Geography,Total; Estimate; Population 5 years and over,Total; Margin of Error; Population 5 years and over,Percent; Estimate; Population 5 years and over,Percent; Margin of Error; Population 5 years and over,"Percent of specified language speakers - Speak English only or speak English ""very well""; Estimate; Population 5 years and over","Percent of specified language speakers - Speak English only or speak English ""very well""; Margin of Error; Population 5 years and over","Percent of specified language speakers - Percent speak English only or speak English ""very well""; Estimate; Population 5 years and over",...,Percent; Estimate; CITIZENS 18 YEARS AND OVER - All citizens 18 years old and over - Speak a language other than English - Other languages,Percent; Margin of Error; CITIZENS 18 YEARS AND OVER - All citizens 18 years old and over - Speak a language other than English - Other languages,"Percent of specified language speakers - Speak English only or speak English ""very well""; Estimate; CITIZENS 18 YEARS AND OVER - All citizens 18 years old and over - Speak a language other than English - Other languages","Percent of specified language speakers - Speak English only or speak English ""very well""; Margin of Error; CITIZENS 18 YEARS AND OVER - All citizens 18 years old and over - Speak a language other than English - Other languages","Percent of specified language speakers - Percent speak English only or speak English ""very well""; Estimate; CITIZENS 18 YEARS AND OVER - All citizens 18 years old and over - Speak a language other than English - Other languages","Percent of specified language speakers - Percent speak English only or speak English ""very well""; Margin of Error; CITIZENS 18 YEARS AND OVER - All citizens 18 years old and over - Speak a language other than English - Other languages","Percent of specified language speakers - Speak English less than ""very well""; Estimate; CITIZENS 18 YEARS AND OVER - All citizens 18 years old and over - Speak a language other than English - Other languages","Percent of specified language speakers - Speak English less than ""very well""; Margin of Error; CITIZENS 18 YEARS AND OVER - All citizens 18 years old and over - Speak a language other than English - Other languages","Percent of specified language speakers - Percent speak English less than ""very well""; Estimate; CITIZENS 18 YEARS AND OVER - All citizens 18 years old and over - Speak a language other than English - Other languages","Percent of specified language speakers - Percent speak English less than ""very well""; Margin of Error; CITIZENS 18 YEARS AND OVER - All citizens 18 years old and over - Speak a language other than English - Other languages"
0,Id,Id2,Geography,Total; Estimate; Population 5 years and over,Total; Margin of Error; Population 5 years and...,Percent; Estimate; Population 5 years and over,Percent; Margin of Error; Population 5 years a...,Percent of specified language speakers - Spea...,Percent of specified language speakers - Spea...,Percent of specified language speakers - Perc...,...,Percent; Estimate; CITIZENS 18 YEARS AND OVER ...,Percent; Margin of Error; CITIZENS 18 YEARS AN...,Percent of specified language speakers - Spea...,Percent of specified language speakers - Spea...,Percent of specified language speakers - Perc...,Percent of specified language speakers - Perc...,Percent of specified language speakers - Spea...,Percent of specified language speakers - Spea...,Percent of specified language speakers - Perc...,Percent of specified language speakers - Perc...
1,8600000US83501,83501,ZCTA5 83501,32821,337,(X),(X),32511,372,99.1,...,1.7,0.7,397,174,83.4,10.0,79,46,16.6,10.0
2,8600000US83822,83822,ZCTA5 83822,1769,264,(X),(X),1755,265,99.2,...,0.3,0.6,5,9,100.0,100.0,0,12,0.0,100.0
3,8600000US83824,83824,ZCTA5 83824,285,64,(X),(X),285,64,100.0,...,5.2,4.2,12,10,100.0,85.6,0,12,0.0,85.6
4,8600000US83832,83832,ZCTA5 83832,1425,122,(X),(X),1401,122,98.3,...,1.2,0.9,6,6,46.2,30.4,7,7,53.8,30.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,8600000US99363,99363,ZCTA5 99363,303,282,(X),(X),221,247,72.9,...,0.0,31.3,0,12,-,**,0,12,-,**
607,8600000US99371,99371,ZCTA5 99371,437,111,(X),(X),435,111,99.5,...,2.4,3.0,6,10,75.0,46.6,2,3,25.0,46.6
608,8600000US99401,99401,ZCTA5 99401,237,207,(X),(X),237,207,100.0,...,0.0,14.9,0,12,-,**,0,12,-,**
609,8600000US99402,99402,ZCTA5 99402,1564,248,(X),(X),1555,250,99.4,...,0.4,0.6,5,7,100.0,100.0,0,12,0.0,100.0
610,8600000US99403,99403,ZCTA5 99403,19365,275,(X),(X),19293,282,99.6,...,1.4,0.5,207,78,92.4,11.0,17,23,7.6,11.0

In [858]:
lang_data.iloc[:,9].name

'Percent of specified language speakers  - Percent speak English only or speak English "very well"; Estimate; Population 5 years and over'

In [859]:
df = add_more_cols_to_df(df,lang_data,'Percent; Estimate; SPEAK A LANGUAGE OTHER THAN ENGLISH - Spanish','Id2','spanish_speaking')
df = add_more_cols_to_df(df,lang_data,'Percent; Estimate; SPEAK A LANGUAGE OTHER THAN ENGLISH - Other Indo-European languages','Id2','indo_euro_speaking')
df = add_more_cols_to_df(df,lang_data,'Percent; Estimate; SPEAK A LANGUAGE OTHER THAN ENGLISH - Asian and Pacific Island languages','Id2','asian_pacific_speaking')
df = add_more_cols_to_df(df,lang_data,'Percent; Estimate; SPEAK A LANGUAGE OTHER THAN ENGLISH - Other languages','Id2','other_languages')
df = add_more_cols_to_df(df,lang_data,'Percent of specified language speakers  - Percent speak English only or speak English "very well"; Estimate; Population 5 years and over','Id2','percent_english_speaking')
df

,num_businesses_est,num_businesses_n1_4,num_businesses_n5_9,num_businesses_n10_19,num_businesses_n20_49,num_businesses_n50_99,num_businesses_n100_249,num_businesses_n250_499,num_businesses_n500_999,num_businesses_n1000,...,Total; Estimate; AGE - 75 to 79 years,Total; Estimate; AGE - 80 to 84 years,population,median_income,num_households,spanish_speaking,indo_euro_speaking,asian_pacific_speaking,other_languages,percent_english_speaking
zip,,,,,,,,,,,,,,,,,,,,,
98001,6828.0,3162.0,1230.0,1050.0,834.0,288.0,186.0,36.0,24.0,18.0,...,728,332,32789,77083,11097,8.5,11.1,8.5,0.8,88.5
98002,5858.0,3074.0,1116.0,798.0,630.0,108.0,90.0,36.0,0.0,6.0,...,836,517,34255,51086,13111,17.7,4.8,7.0,0.6,87.9
98003,9576.0,4992.0,1968.0,1242.0,858.0,336.0,132.0,36.0,12.0,0.0,...,1274,849,48065,53023,18279,15.0,6.6,12.5,3.5,82.1
98004,17966.0,9236.0,3162.0,2256.0,1764.0,792.0,498.0,156.0,66.0,36.0,...,937,741,34283,117321,16006,3.3,12.3,20.7,1.1,88.1
98005,10156.0,5266.0,1938.0,1434.0,864.0,372.0,204.0,60.0,12.0,6.0,...,531,341,18735,101134,7761,5.3,10.5,22.2,2.3,83.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98667,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98190,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99144,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0,0,23,-,8,0.0,0.0,0.0,0.0,100.0
98412,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99256,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [860]:
for col in df.columns[-5:]:
    df[col] = df[col].apply(lambda x: '0' if x == '-' else x)

In [861]:
#education_data = pd.read_csv('/Users/ericnaon/Downloads/ACS_17_5YR_B07009/ACS_17_5YR_B07009_with_ann.csv')

In [862]:
#below makes model worse
#df = add_more_cols_to_df(df,education_data,'HD01_VD03','GEO.id2','less_than_hs')
#df = add_more_cols_to_df(df,education_data,'HD01_VD04','GEO.id2','hs_graduate')
#df = add_more_cols_to_df(df,education_data,'HD01_VD05','GEO.id2','some_college')
#df = add_more_cols_to_df(df,education_data,'HD01_VD06','GEO.id2','bachelors')
#df = add_more_cols_to_df(df,education_data,'HD01_VD07','GEO.id2','graduate_or_pro')
#df

In [863]:
model = GradientBoostingRegressor(learning_rate=.01, criterion='mae',max_depth=5)

In [864]:
df.dropna(inplace=True)

In [865]:
med_ints = list()
for element in list(df['median_income'].values):
    if '-' in element:
        med_ints.append(0)
    elif '+' in element:
        med_ints.append(int(element.replace('+','').replace(',','')))
    else:
        med_ints.append(int(element))

In [866]:
df['median_income'] = med_ints

In [867]:
for col in df.columns:
    df[col] = df[col].astype(float)

In [868]:
y = df['subway_count']
df.drop(columns='subway_count',inplace=True)

In [869]:
#y = y.to_numpy()
#df = df.to_numpy()

In [870]:
train_data, test_data, y_train, y_test = train_test_split(df, y)

In [871]:
model.fit(train_data,y_train)
model.predict(test_data)

array([2.37513727, 0.59835056, 1.81358204, 1.8098474 , 1.17961438,
       0.54564672, 2.95429157, 0.54564672, 1.9916296 , 1.89982064,
       1.81358204, 1.17961438, 0.54564672, 1.17961438, 2.22812362,
       2.8803389 , 0.54564672, 2.90524268, 0.69721473, 0.76983846,
       1.17961438, 1.17961438, 2.25468769, 1.17961438, 1.70036299,
       0.54564672, 0.93280177, 1.17961438, 1.81358204, 1.17961438,
       1.17961438, 1.17961438, 1.19334903, 0.54564672, 1.17961438,
       1.17961438, 0.54564672, 1.3246811 , 3.02293253, 2.21866454,
       1.17961438, 1.18334903, 1.94773705, 1.17961438, 1.79436304,
       0.76194196, 1.79120037, 1.24139995, 0.56693422, 0.54564672,
       1.17961438, 0.54564672, 0.68565596, 0.54564672, 0.54564672,
       1.17961438, 1.21526177, 2.06116953, 1.34945958, 2.29286788,
       1.24743444, 0.54564672, 1.17961438, 1.81358204, 0.54564672,
       1.17961438, 2.2957472 , 2.02014621, 2.16964467, 1.8098474 ,
       1.18334903, 1.40312126, 2.02046432, 0.70571755, 0.54564672,
       2.38486926, 0.54564672, 0.62312343, 0.54564672, 1.85641689,
       1.82064911, 1.17961438, 0.54564672, 1.21425972, 2.93136838,
       0.7266803 , 1.70518565, 1.18237675, 1.17961438, 1.20099117])

pandas.core.frame.DataFrame

In [876]:
yhat = model.predict(test_data)
print(max((yhat-y_test)))
np.argmax(yhat-y_test)

1.905242683503365

99362

In [787]:
kf = KFold(n_splits=7)

In [788]:
model_scores = []
for train, test in kf.split(train_data):
    X_train, X_test, y_train_kf, y_test_kf = train_data[train], train_data[test], y_train[train], y_train[test]
    model.fit(X_train,y_train_kf)
    mae = mean_absolute_error(y_test_kf, model.predict(X_test))
    model_scores.append(mae)

In [789]:
np.average(model_scores)

0.7442200353374029

In [790]:
model.fit(X_train,y_train)

ValueError: Found input variables with inconsistent numbers of samples: [231, 269, 231]